<template>
    <b-container fluid>
        <b-row class="school-container-layout mb-5" id="results-student">
            <b-col cols="12" class="results-student-content-table">
                <b-row class="results-student-content">
                    <table-grid
                            :data="gridData"
                            :columns="gridColumns"
                            :filter-key="searchQuery"
                            :content="content">
                    </table-grid>
                </b-row>
            </b-col>
            <b-col cols="12" class="mt-5 mb-5 results-student-content-table">
                <b-row>
                    <b-col cols="12" style="text-align: center">
                        <span @click="download()">
                        <img :src="srcImagen('excel.svg')" class="results-pdf-img" alt="">
                        <a class="results-dowload">DESCARGAR RESULTADOS DE TODOS LOS ESTUDIANTES</a>
                        </span>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
        <ModalDowload v-if="activeModal"/>
        <ModalSend :content="contentMsj" v-if="activeModalSend"/>
    </b-container>
</template>
<script>
    import TableGrid from '@/components/Global/TableBasic'
    import ModalDowload from '@/components/Global/ModalDowload'
    import ModalSend from '@/components/Global/ModalSendReturn'
    import XLSX from "xlsx";
    import {mapState} from 'vuex'


    export default {
        name: 'ResultsStudent',
        components: {
            TableGrid, ModalDowload, ModalSend
        },
        computed: {
            ...mapState(['activeModal','activeModalSend'])
        },
        data: () => ({
            search: '',
            searchQuery: '',
            gridColumns: [
                {
                    key: 'nombre',
                    name: 'Estudiante',
                    width: '25',
                    width_th: '3',
                    class: 'table-td-align-left',
                    class_text: 'table-text-td'
                },
                {
                    key: 'grado',
                    name: 'Grado',
                    width: '8',
                    width_th: '1',
                    class: 'table-td-align-center',
                    class_text: 'table-text-td'
                },
                {
                    key: 'seccion',
                    name: 'Sección',
                    width: '9',
                    width_th: '1',
                    class: 'table-td-align-center',
                    class_text: 'table-text-td'
                },
                {
                    key: 'carrera',
                    name: 'Carrera',
                    width: '23',
                    width_th: '3',
                    class: 'table-td-align-center',
                    class_text: 'table-text-td'
                },
                {
                    key: 'estado',
                    name: 'Estado del simulacro',
                    width: '15',
                    width_th: '2',
                    class: 'table-td-align-center',
                    class_text: 'table-text-td'
                },
                {
                    key: 'boton',
                    name: '',
                    width: '20',
                    width_th: '2',
                    class: 'table-td-align-center-botton',
                    class_text: 'table-text-td'
                }

            ],
            gridData: [],
            content: {
                url: '/colegio/resultados-estudiante',
                button: 'VER RESULTADOS'
            },
            contentError: {
                title: 'Disculpe',
                msj: 'La opcion seleccionada no tiene informacion',
                button: 'Aceptar',
                icon: 2,
                back: 'resultados'
            },
            contentMsj: {}
        }),
        created() {
            this.$store.dispatch('setModulo', 'RESULTADOS POR ESTUDIANTE')
            this.$store.dispatch('setNav', 'active')
            this.$store.dispatch('setActiveRouteButton', 'colegio/resultados-estudiantes')
            this.$store.dispatch('getEstudiantesStatus', localStorage.getItem('keys'))
                .then((response) => {
                    this.gridData = response.data
                    if (this.gridData.length === 0) {
                        this.contentMsj = this.contentError
                        this.$store.dispatch('setActiveModalSend', true)
                    } else {
                        this.$store.dispatch('setActiveModalSend', false)
                    }
                })
                .catch((error) => {
                    console.log('error: getEstudiantesStatus ->' + error.message)
                })

        },
        methods: {
            goRouter(url) {
                this.$router.push(url)
            },
            srcImagen(img) {
                let src = require('@/assets/images/' + img)
                return src
            },
            download() {
                let worksheet_name = "Listado Estudiantes por Estado";
                let workbook = XLSX.utils.book_new();
                let new_list = this.gridData.map(function (obj) {
                    return {
                        nombre: obj.nombre,
                        Grado: obj.grado,
                        Seccion: obj.seccion,
                        Carrera: obj.carrera,
                        Estado: obj.estado,
                    };
                });
                let data = XLSX.utils.json_to_sheet(new_list);
//                /*ubicar celda*/
//
//                var first_sheet_name = workbook.SheetNames[0];
//                var address_of_cell = 'A1';
//                var worksheet = workbook.Sheets[first_sheet_name];
//                var desired_cell = worksheet[address_of_cell];
                /*estable el ancho automatico*/
//                const data = XLSX.utils.aoa_to_sheet(new_list);
//                data['!cols'] = fitToColumn(new_list);

//                function fitToColumn(arrayOfArray) {
//                    // get maximum character of each column
//                    return arrayOfArray[0].map((a, i) => ({ wch: Math.max(...arrayOfArray.map(a2 => a2[i].toString().length)) }));
//                }
                /*para darle formato*/
//                data['A1'].s = {
//                    fill: {
//                        patternType: "none", // none / solid
//                        fgColor: {rgb: "FF000000"},
//                        bgColor: {rgb: "FFFFFFFF"}
//                    },
//                    font: {
//                        name: 'Times New Roman',
//                        sz: 16,
//                        color: {rgb: "#FF000000"},
//                        bold: true,
//                        italic: false,
//                        underline: false
//                    },
//                    border: {
//                        top: {style: "thin", color: {auto: 1}},
//                        right: {style: "thin", color: {auto: 1}},
//                        bottom: {style: "thin", color: {auto: 1}},
//                        left: {style: "thin", color: {auto: 1}}
//                    }
//                };
                  XLSX.utils.book_append_sheet(workbook, data, worksheet_name);
                  XLSX.writeFile(workbook, `${worksheet_name}.xlsx`);

                this.$store.dispatch('setActiveModal', true)
            },
            cerrar() {
                this.$refs['modal-modulo'].hide()
            },
        }
    }
</script>