.marco{

    border: 1px solid #999999;
//padding: 150px;
box-sizing: border-box;
border-radius: 20px;
& legend{
    vertical-align: middle;
    padding-top: 12px;
    width: 493px;
    height: 45px;
    background: #0F376E;
border-radius: 15px;
@include base-font(bold, 20px, 18px, #FFFFFF);
font-family: Montserrat;
align-items: center;
text-align: center;
}
}

.account-dame {
    padding-top: 12px;   
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    border: 2px solid rgba(15, 55, 110, 0.5);
    border-radius: 10px;
outline: none;
    &::placeholder {
        padding-left: 10px;
        font-size: 14px;
    }
}
.account-aceptar{
    @extend .key-aceptar;
    width: 250px!important;
}
.password-aceptar{
    @extend .account-aceptar;
    background: #583C89!important;
}
.title-account-password{
@extend .title-account-search;
background: #583C89!important;
}
.title-account-search{
    padding-top: 10px;   

    height: 41px;
    background: #0F376E;
    border-radius: 15px;
    @include base-font(bold, 20px, 18px, #FFFFFF);
    font-family: Montserrat;
    align-items: center;
    text-align: center;
}
.table-result-account {
   @extend .table-result-califica;
    border-color: #0F376E !important;
    max-width: none!important;
}
.modal-account{
    text-align: center;
    border-radius: 20px !important;
}
.checkbox-round {
    width: 2.0em;
    height: 2.0em;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    &:checked {
        background-color: #6979F8;
        &::before{
            position: relative;
            padding-left: 20%;
            top: 5px;
            margin-top: 40px!important;
            content:  url('/static/Check.png');
    
        }
    }
  
}
.modal-password{
    min-width: 590px!important;
}