.title-califica {
    @include base-font(500, 20px, 19px, #671220);
    margin-top: 50px;
    
}

.thead-table-califica {
    @extend .thead-table;
    background-color: #671220 !important;
    & tr {
        & th {
            
            @include base-font(bold, 14px, 18px, #FFFFFF);
        }
    }
}

.start {
    display: none !important;
}

.calificar-button{
border: none;
    border-radius: 10px;
width: 205px;
height: 40px;
background-color: #671220;
color: white;
outline: none!important;
}

#textarea-large{
    border: 2px solid #671220;
    border-radius: 15px!important;
    &:focus{
        border-color: #671220!important;
        box-shadow:none!important
    }
}
.table-result-califica {
    overflow-x: hidden !important;
    border-top: 0px !important;
    max-width: 1100px;

    & td {
        padding: 0.25rem !important;
    }

    & th {
        border-top: 0 !important;
        border-right: 0 !important;
    }
}

.th-border-1-califica {
    @extend .th-border-1;
    background-color: #671220 !important;
}

.table-result-califica {
    @extend .table-result;
    border: 3px solid #671220 !important;

    border-top: 0px!important;
}

tr.puntajes-module-califica {

    border-bottom: 2px solid #671220;

    & td {
        text-align: center;
        @include base-font(bold, 14px, 18px, #626366);
    }
}