.img-dashboard {
    height: auto;
    width: 100%;
}

.img-col {
    padding: 0 !important;
}

.cuadro-dashboard {
    border: 5px solid #0F376E;
    box-sizing: border-box;
    border-radius: 5px;
    max-width: 253px !important;
    height: 142px !important;
}

.cuadro-dashboard-consulta {
    border: 5px solid #671220;
    box-sizing: border-box;
    border-radius: 5px;
    max-width: 253px !important;
    height: 142px !important;
}

.dashboard-titulo-consulta {
    @include base-font(normal, 20px, 20px, #671220);
    text-align: center;
}

.dashboard-value-consulta {
    @include base-font(500, 36px, 34px, #671220);
    text-align: center;
}

.row-2 {}

.col-grid {
    max-width: 670px !important;
    //padding-left: 40px!important;

}

.col-grid:first-child {
    max-width: 670px !important;
    //padding-left: 40px!important;

}

.cuadro-dashboard-ranking {
    background: #1B1464;
    border-radius: 18px;
    max-width: 719px;
    height: 491px;
}

.titulo-ranking {
    @include base-font(500, 20px, 30px, #FFFFFF);
}

.col1-ranking {
    max-width: 379px !important;
    height: 64px;
    text-align: left;
    background: #FFFFFF !important;
    box-shadow: 0px 4px 4px rgba(215, 215, 215, 0.25);
}

.titulo-promedio {
    @include base-font(bold, 13px, 16px, #FDFDFD);
    text-align: end;
    margin-bottom: 10px;

}

.imagen-colegio {
    text-align: left;
    margin-left: -20px;
}

.col2-ranking {
    height: 64px;
    margin-left: 4px;
    text-align: center;
    background: #FFFFFF !important;
    box-shadow: 0px 4px 4px rgba(215, 215, 215, 0.25);
}

.titulo-pendientes {
    @include base-font(500, 20px, 30px, #FFFFFF);
}

.div-titulo {
    background: #ED3237;
    border-radius: 10px;
    height: 41px;
    padding-top: 5px;
}

.pendientes {
    background: #FFFFFF;
    border: 2px solid #ED3237;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.titulo-colegio {
    font-family: Myriad Pro !important;
    @include base-font(600, 14px, 17px, #0F376E);
}

.subtitulos-pendientes {
    @include base-font(bold, 12px, 11px, #0F376E);

    & img {
        cursor: pointer;
    }
}

.valor-subtitulos {
    @include base-font(normal, 12px, 11px, #0F376E);

}

.row-fecha {
    margin-top: -12px !important;
}

.row-ranking {
    margin-top: 4px;
}

.dashboard-titulo {
    @include base-font(normal, 17px, 19px, #0F376E);
    text-align: center;
}

.dashboard-titulo2 {
    @include base-font(normal, 17px, 19px, #0F376E);
    text-align: center;

    width: 163px !important;
    margin-left: -24px !important;
}

.dashboard-value {
    @include base-font(600, 36px, 34px, #0F376E);
    text-align: center;

}

.promedio-colegio {
    @include base-font(600, 14px, 17px, #231F20);
    align-items: center;
}

.promedio-value {
    @include base-font(600, 18px, 22px, #3F3356);
    font-family: Myriad Pro;
    align-items: center;
}