.table-student {
    & td {
        word-break: break-all;

        @include base-font(normal, 15px, 18px, #555555);
        align-items: center;
        text-align: center;
        color: #555555;
        border-top: 1px solid !important;
        height: 60px;

    }
}

.table-principal {
    & th {
        @include base-font(bold, 20px, 19px, #0F376E);
        text-align: center;
        height: 60px;
    }
}

.thead-data{
}
.data-container-layout {}

.table-tbody-data {
    border-radius: 15px !important;
    border: 2px solid #0F376E;
}

.button-download {
    @include base-font(500, 13px, 18px, #FFFFFF);
    outline: none!important;
    display: flex;
    align-items: center;
    text-align: center;
    background: #0F376E !important;
    border-radius: 6px;
    height: 40px;
    width: 109px;
}

.tituto-data {
    @include base-font(bold, 20px, 19px, #FFFFFF);
    background: #583C89;
    border-radius: 20px;
    height: 62px;
    padding-top: 20px;

    text-align: center;

}
.results-xls-img{
    width: 60px!important;
    height: 80px!important;
    cursor: pointer;
}