@font-face {
  font-family: "GothamPro";
  src: url("assets/scss/vendor/font-gotham/GothamPro.woff2") format("woff2");
}
.calcel-icon{
  width: 113px!important;
}
.spinner{

    position: fixed!important ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button{
  &:focus:hover{
    outline: none!important;
  }
  outline: none!important;
}
.container {
  font-family: $font-family-base;
  max-width: 1440px !important;
  min-height: 100%;
  padding: 0;
  padding-bottom: 3rem;
}

body {
  font-family: $font-family-base !important;
}

.container-layout {
  font-family: $font-family-base !important;

  //margin-top: 120px !important;
}

.text-help {
  margin-top: 100px;
  @include base-font(500, 20px, 30px, #0F376E);

}

.mail {
  margin-top: 60px;
  @include base-font(bold, 25px, 30px, #0F376E);

}

.columna1-instruccion:nth-of-type(1) {
  border-right: 4px solid #0F376E;
  margin-left: 100px;
  margin-right: 80px !important;
  padding-right: 20px !important;
  padding-left: 00px !important;
}

.columna1-instruccion:nth-of-type(2) {
  margin-left: 3px;
  margin-right: 57px !important;
  padding-right: 20px !important;
  padding-left: 0px !important;
}

.animacion {
  & p {
    margin-top: 20px !important;

    text-align: center !important;
    & img {
      width: 700px !important;

    }
  }
}
.id_layout{
margin-top: -100px!important; 
}
.button-primary {
  border: 2px solid $body-color-blue;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height: 40px;
}

.button-primary-global {
  @extend .button-primary;
  background: $body-color-blue;
}

.button-text-global {
  padding-left: 2rem;
  padding-right: 2rem;
  @include base-font(600, 16px, 18px, $body-color-white);
}

.btn-secondary {
  & .active {
    & .focus {
      border: 0px !important;
    }
  }

}

.error-img {
  width: 100px;
  height: 100px;
}