.home-image {
  background-image: url("assets/images/home.jpg");
}

.home-container {
  height: 100%;
}

.home-image {

  background-image: url("assets/images/home.jpg");
  width: 100%;
  height: 100vh;
}

.home-col2 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.welcome {
  margin-top: 150PX;
  text-align: center;
  @include base-font(normal, 17px, 25px, #0F376E);

}

.home-button {
  outline: none !important;
  @include base-font(500, 17px, 16px, #ffffff);
  letter-spacing: 0.15em !important;
  font-family: "GothamPro" !important;
  background: #0F376E !important;
  border-radius: 6px;
  height: 48px !important;
  border: 0;
  width: 343px !important;

  &:hover {
    background: #ffffff !important;
    border: 2px solid #0F376E !important;
    color: #0F376E !important;

  }
}

.home-button-login {
  cursor: pointer;
  outline: none !important;
  font-family: "GothamPro" !important;
  background: #0F376E !important;
  border-radius: 10px;
  height: 48px !important;
  width: 200px !important;
  letter-spacing: 1px !important;
  border: none !important;
  @include base-font(600, 17px, 22px, #FFFFFF);
  &:active:hover {
    background: #ffffff !important;
    border: 2px solid #0F376E !important;
    color: #0F376E !important;

  }
}

.text-olvido {
  @include base-font(normal, 14px, 13px, #9D9D9C);
  cursor: pointer;
}

.input-login {
  background: #FFFFFF !important;
  border: 1px solid #555555 !important;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07) !important;
  border-radius: 6px !important;
  online: none !important;
  //width: 343px !important;
  height: 3rem !important;
  position: relative;
  @include base-font(normal, 15px, 20px, #808080);
}

.input-login-estudiante {
  background: #FFFFFF !important;
  border: 1px solid #0F376E !important;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07) !important;
  border-radius: 6px !important;
  online: none !important;
  width: 343px !important;
  height: 3rem !important;
  @include base-font(normal, 15px, 20px, rgba(27, 20, 100, 0.5));
}

.login-input {
  border: 1px solid #555555 !important;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07) !important;
  border-radius: 6px !important;
  width: 343px !important;
  @include base-font(normal, 18px, 20px, #808080);

  &:focus {
    box-shadow: none !important;
  }
  &::placeholder {

    @include base-font(normal, 15px, 20px, #808080);

  }
}

#formColegioPassword {
  & img {
    position: absolute;
    width: 27px;
    height: 27px;
    right: 0;
    margin-top: 0.7rem;
    z-index: 9;
    margin-right: 2.5rem;
  }
}

.content-login-form {
  position: relative;
  //border: solid;
  width: 100%;
  padding: 0px;
  margin-left: 0 !important;
  margin-left: 0 !important;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-form {
  position: absolute;
  //border: solid red;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.content-form-2 {
  padding-left: 2rem;
}

.login-adviser {
  margin-top: 200px;
}

.tabs-home {
  border-bottom: 2px solid #0F376E;
  @include base-font(500, 17px, 22px, #ffffff);
  width: 201px !important;
  align-items: center;
  margin-bottom: 0px !important;
}

.tab-link {
  color: #0F376E;
}

.tab1 {

  color: white !important;
  background: #0F376E !important;
  border-radius: 10px 10px 0px 0px !important;
}

.content-tab-home {
  max-width: 423px;

}

.welcome2 {
  @extend .welcome;
  margin-top: 50px;
}

.login-student {
  border: 1px solid #0F376E !important;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07) !important;
  border-radius: 6px !important;
}

@media (max-width: 1400px) {
  .tabs-home {
    width: 175px !important;
  }
  .home-image {
    background-image: url("assets/images/home.jpg");
    width: 100%;
    height: 100%;
  }
  .tabs {
    & .card-header {
      margin-left: 20px;
    }
  }
}