.contTitleLine {
  margin-top: 30px;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  position: relative;
  width: 100%;

  & h3 {
    @include base-font(bold, 18px, 17px, #0F376E);

    background: white; //Esta línea lo deben borrar
    margin: 0;
    min-width: 7rem;
    padding-right: 1rem;
    position: relative;
    z-index: 3;
  }

  & .lineTitle {
    background: #0F376E;
    box-sizing: border-box;
    height: 4px;
    position: absolute;
    width: 100%;
    z-index: 2;
  }
}

.button-modificar-carrera {

  background: #0F376E !important;
  width: 98% !important;
  height: 45px;
  @include base-font(normal, 20px, 18px, #FFFFFF);
}

.filaCarrera {
  margin-top: 30px;
  border: 3px solid;
  padding: 4px;
  margin-top: 10px !important;
}

.modificar-carrera {
  @include base-font(normal, 15px, 18px, #626366);

  margin-top: 13px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;

}

.card-info {
  border: 0.5px solid #0F376E !important;
  box-sizing: border-box !important;
  border-radius: 10px !important;
  height: 255px;
  width: 246px;
}

.header-info {
  @include base-font(bold, 20px, 21px, #0F376E);

  text-align: center;
  letter-spacing: 0.1px;
}

.info-text {
  @include base-font(bold, 20px, 21px, #0F376E);

  text-align: center;
  letter-spacing: 0.1px;
  margin-top: 40px;
}

.modal-carrera {
  height: 500px;
  border-radius: 30px !important;
}

.fondo-carrera {
  @include base-font(bold, 20px, 21px, #ffffff);
  background: #0F376E;
  padding: 12px;
  width: 500px;
  text-align: center;
}

.title-edit {
  @include base-font(bold, 16px, 20px, #0F376E);

}

.img-modulo {
  margin-top: 50px;
  cursor: pointer;
}

.preguntas {
  border-bottom: 1px solid black;
  width: 100%;
}

.cambios {
  @include base-font(bold, 20px, 18px, #0F376E);
  align-items: center;
  text-align: center;
  background: rgba(15, 55, 110, 0.4) !important;
  border-radius: 20px;
  height: 39px !important;
  width: 358px !important;
  outline: none;
  box-shadow: none !important;
  border: none;
}

.titulo-preguntas-2 {
  @include base-font(bold, 20px, 21px, #0F376E);

}

.header-preguntas {
  background: #D5DAE2 !important;
}

.preguntas-plus {
  @include base-font(bold, 16px, 21px, #0F376E);

  text-align: left !important;
  margin-top: 10px !important;
  letter-spacing: 0.1px;

}

.img-plus-preguntas {
  height: 30px;
}

.titulo-simulacro-admin {
  @include base-font(bold, 20px, 19px, #0F376E);
  margin-top: 20px;
}

.claves-row {
  border: 3px solid #0F376E;
}

.claves-titulo{

  @include base-font(bold, 14px, 18px, #FFFFFF);

height: 40px;
padding-top: 10px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background: #0F376E;
}

.claves-titulo:not(:last-child){

  border-right: 3px solid white;
}
.row-clave{
  @include base-font(bold, 14px, 18px, #626366);
  text-align:center;
  border-bottom: 1px solid #000000;
}
.input-clave{
  background: transparent;
  border: none;
  text-align: center;
}
select.input-clave {
  -webkit-appearance: none!important;
  -moz-appearance: none!important;
  text-indent: 1px!important;
  text-overflow: ''!important;
}
.tooltip-inner{
  max-width: 400px!important;
}
.modal-info{
  margin-left: -100px!important;
  ;
  max-width: 1200px!important;
  width: 1200px!important;
  .modal-body{
      width: 1000px!important;

   
  }
}
.carrera-select{
  font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  margin-left: 0px;
}