.form-title {
    margin-top: 180px !important;
    //margin-left: 50px !important;
}

.form-title2 {
    //margin-left: 50px !important;
}

.title-key {
    @include base-font(bold, 20px, 19px, #0F376E);

}

.line {
    border-top: 4px solid #0F376E;
    margin-top: 9px;
    width: auto;
    max-width: 1000px;
}

.key-register-1 {
    @extend .key-register;
    max-width: 607px !important;
}

.key-register-2 {
    @extend .key-register;
    max-width: 115px !important;
}

.key-register-3 {
    @extend .key-register;
    max-width: 115px !important;
}
.key-register-4 {
    @extend .key-register;
    max-width: 204px !important;
}

.key-register {
    margin-right: 15px;
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    border: 2px solid rgba(15, 55, 110, 0.5);
    border-radius: 10px;
    margin-top: 10px;
    padding-left: 10px;

    &::placeholder {
        font-size: 14px;
    }

    &:focus {
        outline: none;
    }
}

.register-key-button {
    width: 96%;
    outline: none !important;
    font-family: "GothamPro" !important;
    background: #0F376E !important;
    border-radius: 10px;
    height: 48px !important;
    font-weight: 600 !important;
    font-size: 17px !important;
    color: #FFFFFF !important;
    margin-top: 10px;
}

.input-search {
    border: none;
    width: 100%;
    border-color: transparent;

    &::placeholder {
        font-size: 13px;
    }

    &:focus {
        outline: none;
    }
}

.thead-table-keys {
    @extend .thead-table-califica;
    background-color: #0F376E !important;
    font-size: 16px !important;
}

.table-result-keys {
    @extend .table-result-califica;
    border-color: #0F376E !important;
    max-width: 1200px;
}

.nombre-key {
    @include base-font(500, 14px, 13px, #0F376E);
}

.body-result-key {
    & tr {
        border-top: 2px solid #0F376E;

        & td:not(.nombre-key) {

            @include base-font(normal, 14px, 18px, #000000);

            align-items: center;
            text-align: center;
            text-transform: uppercase;



        }
    }
}

.link-reporte {
    @include base-font(bold, 14px, 18px, #0F376E);
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    text-transform: none;
    cursor: pointer;

}

.key-div {
    margin-top: 120px;
    padding-top: 15px;
    width: 271px;
    height: 67px;
    border: 4px solid #0F376E;
    box-sizing: border-box;
}

.key-title,
.key-sub {
    @include base-font(bold, 22px, 28px, #0F376E);
    font-family: Montserrat !important;
    text-align: center !important;
    color: #0F376E !important;
    letter-spacing: 0.35px !important;
}

.key-aceptar {
    @include base-font(bold, 20px, 18px, #FFFFFF);
    align-items: center;
    text-align: center;
    outline: none!important;
    border: 0;



    height: 45px;
    width: 184px;
    background: #0F376E;
    border-radius: 20px;
}

.Caducado {
    @include base-font(500, 10px, 18px, #FFFFFF);
margin-left: 15px;
    text-align: center;
    background: #ED3237;
    border-radius: 5px;
    width: 95px;
    height: 20px;

}

.Vigente {
    @include base-font(500, 12px, 18px, #FFFFFF);

    text-align: center;
    //text-transform: uppercase;
    background: #699A12;
    border-radius: 5px;
    width: 100px;
    height: 25px;




}

.Inhabilitado {

    @include base-font(500, 12px, 18px, #FFFFFF);
    text-align: center;
    //text-transform: uppercase;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    background: #867F7F;

}
