@mixin base-font($weight, $size, $height, $color) {
  font-weight: $weight!important;
  font-size: $size!important;
  line-height: $height!important;
  color: $color!important;
}

@mixin base-font-important($weight, $size, $height, $color) {
  font-style: normal !important;
  font-weight: $weight !important;
  font-size: $size !important;
  line-height: $height !important;
  color: $color !important;
}
