.modal-dowload {
  width: 473px !important;
  height: 358px !important;
  border-radius: 20px !important;
}

.modal-titulo {
  @include base-font(bold, 22px, 28px, $body-color-blue);
  letter-spacing: 0.35px;
  text-align: center;
}

.modal-subtitulo {
  @include base-font(normal, 15px, 20px, $color-gray5);
  letter-spacing: -0.24px;
  text-align: center;
}

.modal-button{
  outline: none!important;
  height: 40px;
  width: 12rem;
  background-color: $body-color-blue;
  border: none !important;
  border-radius: 10px;
  span{
    @include base-font(bold, 17px, 22px, $body-color-white);
  }
}