.menu {
  background-color: white !important;
  width: 100%;
  //margin-left: 280px;
  height: 5.375rem;
  //border: solid red;
}

.sidebar-col {
  padding: 0px !important;
  margin: 0 !important;
  overflow: hidden!important;
  overflow: hidden!important;
}
.b-sidebar > .b-sidebar-body {
  overflow: hidden!important;
}
.right-col {
  padding: 0px !important;
  margin: 0 !important;

  .container {
    margin: 0 !important;
    padding: 0 !important;
  }
}

.fixed-top {
}

.logo-sidebar {
  padding-bottom: 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid #999999;;
}

.bar-category {
  background-color: #0F376E !important;
  height: 60px !important;
  z-index: 1 !important;
  display: block;
  //border: solid yellow;
}

.nav-content-title {
  width: 100% !important;
  display: flex;
  position: absolute;
  left: 0;
  height: 100%;
  margin-top: -1.8rem;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  cursor: initial;
}

.titulo-navbar {
  @include base-font(bold, 20px, 19px, #ffffff);
}

.sidebar-button {
  @include base-font(bold, 13px, 21px, #ffffff);
  letter-spacing: 0.1px;
  height: 40px !important;
  width: 160px !important;
  padding: 4px !important;
  border-radius: 4px;
  background: #ffffff !important;
  color: black !important;
  border: 0px !important;
  text-align: center !important;
  &.active {
    background: #0F376E !important;
    color: white !important;
    box-shadow: none;
  }
  &:focus{
    box-shadow: none!important;
  }
}

.icon-button {
  margin-right: 10px;
  text-align: left;
  float: left;
  margin-left: 11px;

}

.button-group {
  margin-top: 40px;
  display: grid !important;
}

.user {
  & button {
    @include base-font(500, 16px, 15px, #0F376E);

    background-color: none !important;
    border: 0px !important;
    box-shadow: none !important;
    &:active {
      background-color: transparent !important;
    }
    &:hover {
      background-color: transparent !important;
    }
  }
  border: 0px !important;

}

.user2 {
  @include base-font(500, 16px, 15px, #0F376E);

  border: 0px !important;
  & button {
    background-color: none !important;
    border: 0px !important;
    box-shadow: none !important;
    &:hover {
      background-color: none !important;
    }
  }

}

.menu-toggle {
  height: 30px;
  width: 80px !important;
  z-index: 10 !important;
  position: fixed !important;
}

.dropdown {
  //margin-top: 10px;
  //height: 40px;
  position: relative;
}

.dropdown-content {
  //border-bottom-left-radius: 10PX;
  //border-bottom-right-radius: 10PX;
  position: fixed;
  right: 8px;
  background-color: #f9f9f9;
  z-index: 9999;
  width: 201px !important;
  text-align: center;
  border: 1px solid #D0C9D6;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 8px;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.caret {
  margin-top: 10px !important;
  top: -5px;
  margin-right: 7px;
  position: relative;
  margin-left: 26px;
  cursor: pointer;
}
.sub-usuario-nav-user{
  @include base-font(normal, 12px, 11px, #555555);

text-align: center;


}
.sub-usuario-nav-email{
  @include base-font(normal, 12px, 11px, #9C9C9C);

}
.caret2 {
  margin-top: 10px !important;
  top: -5px;
  margin-right: 7px;
  position: relative;
  margin-left: 26px;
  cursor: pointer;
}

.usuario-nav {
  @include base-font(bold, 16px, 15px, #0F376E);
}

.submenu-nav {
  @include base-font(normal, 10px, 10px, #9C9C9C);
  text-align: center;
}

.sub-usuario-nav {
  @include base-font(bold, 15px, 14px, #555555);
  text-align: center;
}

.logout {
  @include base-font(bold, 9px, 14px, #0F376E);
  position: relative;
  bottom: 10px;
}

.text-logout {
  @include base-font(bold, 9px, 14px, #0F376E);
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-button {
  border: 1px solid #0F376E;
  box-sizing: border-box;
  border-radius: 20px;
  background: none !important;
}

.logout-div {
  cursor: pointer;
  margin-left: 50px;
  text-align: center;
  width: 107px !important;
  height: 22px !important;
  border: 1px solid #0F376E;
  box-sizing: border-box;
  border-radius: 10px;
}
/*.navbar-button2{
  width: 107px;
  height: 22px;
}*/
.usuario-nav-2{
  @extend .usuario-nav;
color: #111111!important;  
}
.navbar-img-colegio {
  padding-right: 1.5rem;
}
.sub-menu{
  @include base-font(bold, 13px, 21px, #0F376E);

  letter-spacing: 0.1px;
   list-style: none;
   margin-top: 10px;
   margin-left: 30px;
   width: 130px;
   cursor: pointer;
}