.container-register {
    max-width: 1000px !important;
}

.input-register {

    max-width: 924px;
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    border: 2px solid rgba(15, 55, 110, 0.5);
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    padding-left: 10px;
    outline: none;
    @include base-font(normal, 15px, 20px, #867F7F);

    &::placeholder {
        @include base-font(normal, 15px, 20px, #867F7F);
    }
}
.error-register{
    color: red;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

select option:first-child {
    font-size: 7px !important;
}

.select-register {
    @include base-font(normal, 15px, 20px, #867F7F);
}

.subtitle-register {

    @include base-font(500, 20px, 20px, #0F376E);
}
.custom-select.input-register{
    @include base-font(400, 15px, 20px, #867F7F);


    max-width: 924px;
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: 20px;
    border-color: #0F376E;
    padding-left: 10px;
    outline: none;
    &:focus{
        border-color: #0F376E;
        box-shadow:none!important;
        outline: none;
    }
}
.form-control.input-register
{
    max-width: 924px;
    width: 100%;
    height: 48px;
    background: #FFFFFF;

    border-radius: 10px;
    margin-top: 20px;
    border-color: #0F376E;
    padding-left: 10px;
    outline: none;
    &:focus{
        border-color: #0F376E;
        box-shadow:none!important;
        outline: none;
    }
}
.input-register.is-valid
{
border-color: #0F376E!important;
outline: none!important;
}

.input2-register {
    @extend .input-register;
    max-width: 449px !important;
    margin-right: 13px;
    margin-left: 13px;

}

.next-register {
    border-radius: 10px;
    width: 205px;
    height: 40px;
}

.subtitle2-register {
    @include base-font(normal, 17px, 25px, #0F376E);

}

.register-button {
    letter-spacing: 1px !important;
    @extend .home-button-login;
    @include base-font(600, 17px, 22px, #FFFFFF);

    &:disabled {
        cursor: not-allowed;
    }
    &:hover {
        background: #0F376E !important;
        color: #FFFFFF !important;

    }
}
.custom-control-input.is-valid:checked ~ .custom-control-label::before {
    border-color: #0F376E!important;
     background-color: #0F376E!important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-image: none!important;
}
.custom-control-input.is-valid ~ .custom-control-label{
    color: #0F376E!important;
}

.check-register {
    & label{
       // color: #0F376E!important;
    }
 border: none!important;
    cursor: pointer;
    outline: none!important;

    &:checked {
        outline: none;
        background-color: #0F376E!important;
    }
}