.report-text-title{
    
    @include base-font(bold, 20px, 19px, $body-color-blue); 
   }
   .report-text-title-2{
    @include base-font(bold, 20px, 19px, $body-color-blue); 
    margin-left: 3rem!important;
   }
   .results-text-title-report {
    @include base-font(bold, 20px, 19px, $body-color-blue);
    text-align: center;
    padding:0 10px;
  }
  .results-title-line-report {
    border-bottom: solid 4px $body-color-blue;
    line-height: 0.1em;
    margin: 10px 0 26px;
    right: 3.6rem;
  }
  .results-content-report{
  padding-top: 4.5rem;
  padding-right: 3rem !important;
  margin-right: 0px !important;;
}
  .results-title-line-report-data{
    border-bottom: solid 4px #0F376E;
    line-height: 0.1em;
    margin: -8px 0 23px;
    //right: -8.7rem;
    //width: 83% !important;
    right: -17%;
    width: 81% !important;
    display: block;
    position: relative;
  }