.title {
  @include base-font(bold, 25px, 24px, #0F376E);
}

.subtitle {
  @include base-font(500, 25px, 24px, #0F376E);
}

.points {

  @include base-font(500, 16px, 24px, #0F376E);
}

.block {

  padding: 20px;
  background-color: #0F376E !important;
  max-width: 584px;
  height: 132px;
  border-radius: 10px;
  width: auto;

  @include base-font(normal, 20px, 30px, #FFFFFF);

  text-align: center;

}

.table-result {
  overflow-x: hidden !important;
  border-top: 0px !important;
  border: 3px solid #0F376E;
  max-width: 1100px;
}

.thead-table {
  & th {
    @include base-font(bold, 14px, 18px, #FFFFFF);
  }
}

.table-th-1 {
  width: 280px;

  border-right: 4px solid white;
  vertical-align: middle !important;
}

.table-th-2 {
  width: 160px;
  border-left: 4px solid white;
  vertical-align: middle !important;
}

.thead-table {
  height: 50px !important;
  background-color: #0F376E !important;

  & th {
    padding: 6px !important;
    color: white;
  }

}

.body-result {
  & tr.puntajes-module {

    border-bottom: 2px solid #0F376E;

    & td:not(.title-module) {
      text-align: center;
      @include base-font(bold, 14px, 18px, #626366);
    }
  }
}

.total-module {
  height: 50 Epx;
  background-color: rgba(15, 55, 110, 0.5) !important;

  & td {
    @include base-font(bold, 14px, 15px, #FFFFFF);
    text-align: center;

  }
}

.th-border-1 {
  border-left: 3px solid white;
  border-right: 3px solid white;

}

.th-border-2 {
  border-right: 3px solid white;

}

.info-result {
  @include base-font(500, 15px, 18px, #808080);
  text-align: center;
  letter-spacing: 0.1px;
  max-width: 560px;
}

.resume-result {
  @include base-font(bold, 18px, 30px, #0F376E);
}

.title-module {
  padding-left: 30px !important;
  margin-left: 20px !important;
  @include base-font(500, 14px, 13px, #0F376E);
}

.title-diagram {
  @include base-font(normal, 18px, 30px, #0F376E);
  text-align: center;
}

.title-diagram-1 {
  @include base-font(bold, 18px, 30px, #0F376E);
  text-align: center;
}

@media print {
  #sidebar-1, #Header, #Footer {
    display: none !important;
  }
  .diagram {

  }
  .container-layout {
    margin-left: -125px !important;
    margin-top: 0px !important;
  }
}
