.filaSimulacro {
    margin-top: 30px;
    border: 3px solid;
}

.button-tipo {
    max-width: 195px;
    height: 55px;
    @include base-font(normal, 500, 18px, #FFFFFF);
    text-align: center;
    outline: none !important;
    border: 0;
    margin-top: 10px;
}

.titutlo-simulacro-admin {
    margin-top: 20px;
}

.plus-simulacro {
    letter-spacing: 0.1px;
    cursor: pointer;
    @include base-font(bold, 20px, 21px, #0F376E);
}

.simulacro-register {
    margin-right: 15px;
    width: 100%;
    height: auto;
    background: #FFFFFF;
    border: 2px solid rgba(15, 55, 110, 0.5) !important;
    border-radius: 10px !important;
    ;
    margin-top: 10px;
    padding-left: 10px;

    &::placeholder {
        font-size: 14px;
    }

    &:focus {
        outline: none !important;
        box-shadow: none !important
    }
}

.multiselect__option--highlight {
    background: #0F376E;

    &:after {
        background: #0F376E
    }
}

.multiselect__tag {
    background: #0F376E;
}

.carga {
    margin-top: 210px;
}

.crear-simulacro {
    background: #0F376E !important;
    width: 184px;
    height: 45px;
    background: #0F376E;
    border-radius: 20px;
    @include base-font(bold, 20px, 18px, #FFFFFF);


    display: flex;
    align-items: center;
    text-align: center;



}
.pregunta-edit{
    margin-left: 30px;
    font-family: Gotham;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
/* or 131% */

text-align: justify;
letter-spacing: 0.1px;

color: #2B2829;

}
.preguntas-edit2{
    border: 1px solid #0F376E;
box-sizing: border-box;
}
.body-preguntas{
    padding-left: 0!important;
    padding-right: 0!important;
}
.modal-pregunta{
    margin-left: -189px!important;
    ;
    max-width: 1200px!important;
    width: 1200px!important;
    .modal-body{
        width: 1000px!important;

     
    }
}
.option-modal-image{
    width: 20px;
}
.option-modal{
    @include base-font(500, 16px, 21px, #555555);
    letter-spacing: 0.1px; 
    display: inline-block;   
    margin-bottom: -29px;
}
.showoption{
 
    width: 100%;
    background: white;
    text-align: left;
}