.timer {

    @include base-font(500, 18px, 20px, #ED3237);
    position: absolute;
    /* margin-right: 140px; */
    margin-top: -60px;
    width: 142px;
    height: 48px;
    border: 3px solid red;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 12px;
    right: 39px;

}

.timer-title {
    @include base-font(500, 14px, 20px, #ED3237);
    width: 142px;
    right: 40px;
    position: absolute;
    top: -49px !important;
    text-align: center;
}

.next-module {
    outline: none !important;
    font-size: 17px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: none !important;
    width: 268px;
    height: 40px;
}

.vertical {
    border-left: 3px solid #0F376E;
    height: 300px;
    margin-left: 77px;
    margin-right: -131px;
}

.timer2 {

    width: 194px;
    height: 63px;
    border: 3px solid red;
    @include base-font(500, 30px, 20px, #ED3237);
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 30px;

}


.titulo-preguntas {
    margin-top: 100px !important;
}

.contador-preguntas {
    @include base-font(bold, 16px, 21px, #583C89);
}

.next {}

.back {}

.examen-finish {
    @include base-font(bold, 22px, 28px, #583C89);

}

.examen-finish2 {
    @include base-font(normal, 15px, 20px, #767578);
    text-align: center;
    letter-spacing: -0.24px;
}

.modal-finish {
    width: 473px !important;
    height: 358px !important;
    border-radius: 20px !important;
}

.modal-animacion {
    width: 866px !important;
    //height: 550px!important;
}

.modal-finish-ter {
    text-align: center;
    margin-left: -100px;
    min-width: 792px !important;
    min-height: 528px !important;
    border-radius: 20px !important;

}

.sub-simulacro {
    @include base-font(normal, 18px, 20px, #767578);
    text-align: center;
    letter-spacing: -0.24px;

}

.titulo-animacion {
    margin-bottom: 10px;
    border-radius: 10px;
    //margin-top: 10px;
    @include base-font(bold, 30px, 21px, #FFFFFF);
    letter-spacing: 0.1px;
    text-align: center;
    width: 589px;
    height: 60px;
    background-color: #583C89;
    padding-top: 20px;

}

.modal-button-cancel {
    outline: none !important;
    background-color: white;
    @include base-font(bold, 17px, 22px, #0DB69F);
    border-radius: 10px;
    height: 40px;
    width: 167px;
    border: 1px solid;
}

.modal-header {
    display: none !important;
}

.modal-button-accept {
    outline: none !important;
    border: none;
    height: 40px;
    width: 167px;
    background-color: #0DB69F;
    @include base-font(bold, 17px, 22px, white);
    border-radius: 10px;
}

.modal-button-accept-finish {
    outline: none !important;

    @extend .modal-button-accept;
    background-color: #0F376E !important;
}

.valida {
    width: 587px;
    height: 46px;
    margin-top: 100px;
    padding-top: 15px;
    background: #0F376E;
    border-radius: 20px;
    @include base-font(bold, 16px, 15px, #FFFFFF);
    text-align: center;
}

.edit-button {
    outline: none !important;

    @include base-font(600, 17px, 22px, #0F376E);
    border-radius: 10px;
    width: 205px;
    height: 40px;
    color: #0F376E;
    border: 1px solid #0F376E;
}

.confirm-button {
    outline: none !important;
    border: none !important;
    border-radius: 10px;
    width: 205px;
    height: 40px;
    color: white;
    @include base-font(600, 17px, 22px, white);
    background-color: #0F376E;
}

.confirm-act {
    @extend .examen-finish;
    color: #0F376E !important;
}

.report-list {
    padding: 25px!important;
height: 200px;
    &:hover {
        background: rgba(15, 55, 110, 0.4);


    }

    & p {

        @include base-font(bold, 26px, 32px, #0F376E);
        text-align: center;
        letter-spacing: 0.1px;
    }

    max-width: 280px !important;
    max-height: 173px !important;
    border: 3px solid #9D9D9C;
    box-sizing: border-box;
}

.simulacro-button {
    outline: none !important;

    padding-top: 40px;
    text-align: center;
    cursor: pointer;
    max-width: 300px !important;
    height: 300px !important;

    &:hover {
        background: rgba(15, 55, 110, 0.3);
        box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    }

}

.atras {
    margin-top: -29px;
    position: fixed;
    z-index: 1;
    cursor: pointer;
    //margin-bottom: -50px;
}

.radios {
    & .custom-control-input {
        cursor: pointer !important;
    }
}

.modulo-intruccion {
    @extend .home-button-login;

    &:hover {
        border: none !important;
        color: white !important;
    }
}

.back {
    & svg {
        background: #0F376E;
        clip-path: polygon(0% 45%, 12% 45%, 12% 38%, 26% 50%, 12% 62%, 12% 55%, 0% 55%);

        height: 100%;
        width: 100%;
    }
}

.next {
    & svg {
        background: #0F376E;
        clip-path: polygon(40% 38%, 40% 45%, 50% 45%, 50% 55%, 40% 55%, 40% 62%, 27% 50%);
        height: 100%;
        width: 100%;
    }
}

.examen-finish2 {
    padding: 10px;
}

.back-svg {
    margin-top: -45px;
    font-size: 0.9rem;
    margin-left: 48px;
}

.next-svg {
    margin-top: -45px;
    font-size: 0.9rem;
    margin-left: -22px;
}

.modulo-finish {
    outline: none !important;
    border: 1px solid;
    border-radius: 10px;
    width: 268px !important;
    height: 40px !important;
    @extend .home-button-login;
    background-color: white !important;

    &:hover {
        border: none !important;
        color: white !important;
    }
}

.remember {
    @include base-font(bold, 30px, 21px, #0F376E);
}

.button-califica {
    width: 268px;
    outline: none !important;
    border: none !important;
    height: 40px;
    border-radius: 10px;
    @include base-font(bold, 17px, 22px, #FFFFFF);
    background-color: #0F376E;

}

@media screen and (max-width: 1400px) {
    .atras {
        margin-left: 50px;
    }
}

@media screen and (min-width: 1401px) {
    .atras {
        margin-left: 1px;
    }
}

@media screen and (max-width: 1140px) {
    .timer {
        top: 50px;
        float: center;
        right: 300px;
    }
}