.table-basic-principal {
  width: 100%;
}

.table-basic-tbody {
  border-radius: 6px !important;
  background: $body-color-white;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  border-top: 3px solid $color-purple;
  border-bottom: 3px solid $color-purple;
  border-right: 3px solid $color-purple;
  border-left: 10px solid $color-purple;
  width: 100%;
  text-align: center;
}

.table-basic-tr-hearder {
  width: 100%;
  margin-left: 0rem !important;
  margin-right: 0rem !important;
}

.table-basic-tr {
  width: 100%;
  height: auto;
  align-items: center;
  border-bottom: 1px solid #583C89;
  margin-left: 0rem !important;
  margin-right: 0rem !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.table-basic-th {
  width: 100%;
  background-color: $body-color-white;
  @include base-font(bold, 20px, 19px, $color-purple);
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.table-basic-text-td {
  @include base-font(500, 1rem, 1.5rem, $color-gray4);
  word-break: break-all;
}

.table-basic-text-completo {
  @include base-font(bold, 16px, 19px, $color-green);
}

.table-basic-text-incompleto {
  @include base-font(bold, 16px, 19px, $color-red);
}

.table-basic-td-align-global {
  display: flex;
  height: 3.5rem;
  align-items: center;
}

.table-basic-td-align-center {
  @extend .table-basic-td-align-global;
  justify-content: center;
  text-align: center;
}

.table-basic-td-align-left {
  @extend .table-basic-td-align-global;
  justify-content: left;
  text-align: left;
}

.table-basic-td-align-center-botton {
  text-align: center;

}

.table-basic-td-align-center-botton-report {
  text-align: center;
  text-align: center;
}

.table-basic-button-primary {
  height: 2.9em;
  background:#583C89;
  border: none !important;
  border-radius: 6px !important;
  padding-left: 1rem;
  padding-right: 1rem;
}

.table-basic-th, .table-basic-td {
  //min-width: 10rem;
  padding: 10px 20px;
}

.table-basic-th.active {
  color: $color-purple;
}

.table-basic-th.active .arrow {
  opacity: 1;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid $color-purple;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid $color-purple;
}
