.table-principal {
  width: 100%;
}

.table-tbody {
  border-radius: 6px !important;
  background: $body-color-white;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  border-top: 3px solid $color-purple;
  border-bottom: 3px solid $color-purple;
  border-right: 3px solid $color-purple;
  border-left: 10px solid $color-purple;
}

.table-tr-hearder {
  margin-left: 0rem !important;
  margin-right: 0rem !important;
}

.table-tr {
  //padding-top: 16px;
  //height: 63px;
  height: 3.5rem;
  align-items: center;
  border-bottom: 1px solid #583C89;
  margin-left: 0rem !important;
  margin-right: 0rem !important;


}

.table-th {
  background-color: $body-color-white;
  @include base-font(bold, 20px, 19px, $color-purple);
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.table-td-align-left {
  /*padding-top: 1.5rem;
  padding-left: 1.5rem !important;
  text-align: left;*/
  //max-height: 50px!important;
  line-height: 20px;
}

.table-text-td {
  @include base-font(500, 16px, 15px, $color-gray4);
  word-break: break-all;
}

.table-text-completo {
  @include base-font(bold, 16px, 19px, $color-green);
}

.table-text-incompleto {
  @include base-font(bold, 16px, 19px, $color-red);
}

.table-td-align-center {
  /*padding-top: 1.5rem;*/
  text-align: center;
  list-style: 20px;
  //border: 1px red solid;

}

.table-td-align-center-botton {
  //padding-top: 1rem;
  text-align: center;

}
.table-td-align-center-botton-report {
  text-align: center;
  /*position: absolute!important;
  /* position: relative!important; */
  text-align: center;
  //: 4%;
}

.table-th, .table-td {
  //min-width: 10rem;
  padding: 10px 20px;
}

.table-th.active {
  color: $color-purple;
}

.table-th.active .arrow {
  opacity: 1;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid $color-purple;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid $color-purple;
}

.table-principal {
  /*& .col-lg-3 {
    max-width: 22% !important;
  }

  & .col-lg-1 {
    max-width: 10.33333% !important;;
  }*/
}
