//font
$font-family-base: "GothamPro";
$font-style-base: "normal";
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$line-height-base: 1.5 !default;
//color
$sp_color: #FFC100 !default;

$body-color-black: #000000 !default;

$color-purple: #583C89 !default;

$color-vino: #5D0414 !default;

$color-red: #ED3237 !default;

$body-color-white: #FFFFFF !default;
$color-white2: #FDFDFD !default;

$body-color-blue: #0F376E !default;
$color-blue2: #5D66D3 !default;


$color-green: #7FB223 !default;
$color-green2: #1DB368 !default;
$color-green3: #0DB69F !default;

$body-color-gray: #999999 !default;
$body-color-gray2: #ECEBED !default;
$body-color-gray3: #867F7F !default;
$color-gray4: #555555 !default;
$color-gray5: #767578 !default;


