<template>
  <div>
    <b-sidebar no-header-close no-close-on-route-change width="280px" visible no-slide z-index="999" id="sidebar-1"
      shadow>
      <b-row class="logo-sidebar" align-h="center">
        <img style="width:30%" src="@/assets/images/university1.png" href="/" alt />
      </b-row>
      <b-row align-h="center" class="button-group">
        <b-button v-for="(item, key) in menu" :key="key" @click="goRouter(item.link, key)" :pressed="item.active"
          class="mt-3 sidebar-button">
          <img class="icon-button" :src="item.active ? require(`@/assets/images/${item.img}`) : require(`@/assets/images/${item.img2}`)" alt />
          {{item.titulo}}
        </b-button>
      </b-row>
    </b-sidebar>
  </div>
</template>
<script>
  export default {
    name: "Sidebar",
    data: () => ({
      menu: [],
      myToggle: false,
      menuEstudiante: [{
          titulo: "Resultado",
          img: "result-icon.png",
          img2: "result-icon2.png",
          link: "result",
          active: true
        },
        {
          titulo: "Ayuda",
          img: "help2.png",
          img2: "help.png",
          link: "help",
          active: false
        }
      ],
      menuEstudiante2: [{
        titulo: "Sumulacro",
        img: "simulacro.png",
        img2: "simulacro2.png",
        link: "simulacro",
        active: true
      }],
      menuAsesor: [{
          titulo: "Dashboard",
          img: "dashboard.png",
          img2: "dashboard2.png",
          link: "dashboard",
          active: true
        },
        {
          titulo: "Key de Acceso",
          img: "keys.png",
          img2: "keys2.png",
          link: "keys",
          active: false
        },
        {
          titulo: "Reportes",
          img: "reportes.png",
          img2: "reportes2.png",
          link: "reportes",
          active: false
        },
        {
          titulo: "Data",
          img: "notes1.png",
          img2: "notes2.png",
          link: "data",
          active: false
        }
      ]
    }),
    created() {
      let user = JSON.parse(localStorage.getItem("userdata"));
      let menu = localStorage.getItem("menu");
      if (user.tipo == 4) {
        this.menu = this.menuAsesor;
      } else if (menu == 1) {
        this.menu = this.menuEstudiante2;
      } else if (menu == 2) {
        this.menu = this.menuEstudiante;
      }
    },
    methods: {
      goRouter(url, index) {
        this.$router.push(url);

        this.menu.forEach(element => {
          element.active = false;
             //element.img = element.img2;
        });
        this.menu[index].active = true;
  //        this.menu[index].img = this.menu[index].img;
      }
    },
    computed: {
      currentRouteName() {
        let route =
          this.$route.name == "Instruccion" || this.$route.name == "Simulacro" ?
          true :
          false;
        return route;
      },
      currentRoute() {
        return this.$route.name;
      }
    }
  };
</script>
<style scoped>
</style>