<template>
  <b-container class="container-layout" fluid>
    <b-row align-h="center">
      <b-col lg="4">
        <b-input
          required
          placeholder="Nombre de examen"
          class="simulacro-register"
          type="text"
          v-model="form.nombre"
        />
      </b-col>
      <b-col lg="2">
        <b-input
          required
          placeholder="Tiempo total"
          class="simulacro-register"
          type="text"
          disabled="disabled"
          v-model="form.tiempototal"
        />
      </b-col>
      <b-col lg="2">
        <b-input
          required
          placeholder="Puntaje total"
          class="simulacro-register"
          type="text"
          disabled="disabled"
          v-model="form.puntajetotal"
        />
      </b-col>
    </b-row>
    <b-row align-h="center">
      <b-col lg="2">
        <p class="title-key mt-3">Puntaje por pregunta</p>
      </b-col>
      <b-col lg="2">
        <b-input
          required
          placeholder="Correcta"
          class="simulacro-register"
          type="text"
          v-model="form.correcta"
        />
      </b-col>
      <b-col lg="2">
        <b-input
          required
          placeholder="Incorrecta"
          class="simulacro-register"
          type="text"
          v-model="form.incorrecta"
        />
      </b-col>
      <b-col lg="2">
        <b-input
          required
          placeholder="En blanco"
          class="simulacro-register"
          type="text"
          v-model="form.blanci"
        />
      </b-col>
    </b-row>
    <b-row align-h="center">
      <b-col lg="8">
        <multiselect
          class="simulacro-register"
          v-model="carrera"
          placeholder="Agregar carreras"
          label="nombre"
          track-by="id"
          :options="carreras"
          :multiple="true"
          :taggable="true"
          selectLabel="presional para seleccionar"
          selectedLabel="Seleccionado"
          deselectLabel="presional para eliminar"
          @tag="addTag"
        ></multiselect>
      </b-col>
    </b-row>
  
  </b-container>
</template>
<script>
import Multiselect from "vue-multiselect";

export default {
  name: "FormKey",
  components: {
    Multiselect
  },
  props: {},
  data: () => ({
    key: "",
    colegios: {},
    form: {
      titulo: null,
      puntaje: null,
      npreguntas: null,
      tiempo: null
    },
    secciones: [],
    grados: [],
    carreras: [],
    carrera: []
  }),
  created() {
    this.$store.dispatch("getCareer").then(response => {
      this.carreras = response.data.carrera;
    });
  },
  mounted() {},
  methods: {

    addTag(newTag) {
      const tag = {
        name: newTag,
        code: newTag.substring(0, 2) + Math.floor(Math.random() * 10000000)
      };
      this.carrera.push(tag);
      this.carreras.push(tag);
    },

  

  },
  computed: {
    isAdmin() {
      return this.$store.getters["isAdmin"];
    },
    isDisabled() {
      if (
        this.form.desde &&
        this.form.hasta &&
        this.form.colegio &&
        this.form.seccion &&
        this.form.grado &&
        this.form.aforo
      ) {
        return false;
      } else {
        return true;
      }
    }
  }
};
</script>