 <template>
  <b-container class="container-layout" fluid>
    <b-row class="mt-5" align-h="center">
      <b-col cols="3">
        <b-card class="card-info text-center">
          <b-card-text @click="AgregarModulo()">
            <img class="img-modulo" src="@/assets/images/plus.png" alt />
            <p class="mt-2 plus-simulacro">Agregar modulo</p>
            <br />
          </b-card-text>
        </b-card>
      </b-col>
      <b-col v-if="modulo.length>0" cols="3">
        <b-card
          v-for="(item,key) in modulo"
          :key="key"
          :style="index==key ?'background:rgba(15, 55, 110, 0.3)':''"
          :header="'Modulo '+ (key+1)"
          header-class="header-info"
          class="card-info text-center"
        >
          <b-card-text>
            <p class="info-text">{{item.titulo}}</p>
            <br />
            <b-row align-h="around">
              <p>
                <img
                  style="cursor:pointer"
                  @click="editar(key)"
                  class="mr-5"
                  src="@/assets/images/editinfo.png"
                  alt
                />
                <img
                  style="cursor:pointer"
                  @click="eliminarIntruccionModulo()"
                  class="ml-5"
                  src="@/assets/images/eraseinfo.png"
                  alt
                />
              </p>
            </b-row>
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>
    <b-row v-if="showpreguntas" class="mt-5" align-h="center">
      <b-col cols="9">
        <b-card header-class="header-preguntas" body-class="text-center">
          <template v-slot:header>
            <b-row align-h="center" class="titulo-preguntas-2">Geografia</b-row>
          </template>

          <b-card-text v-for="(items, i) in modulo[index].npreguntas" :key="i">
            <editor
              api-key="no-api-key"
              v-model="modulo[index].preguntas[i]['descripcion']"
              :init="{
                          images_upload_url: this.http + '//' + this.api + '/api/imageUpload',

         height: 250,
         menubar: true,
         plugins: [
           'searchreplace visualblocks code fullscreen',
           'insertdatetime image table paste code help wordcount'
         ],
         toolbar:
           'undo redo | formatselect | bold italic backcolor | \
           alignleft aligncenter alignright alignjustify | \
           bullist numlist outdent indent | removeformat | help | image'
       }"
            />
            <b-row
              class="mt-1 ml-1"
              v-for="(opt, x) in modulo[index].preguntas[i]['opcion']"
              :key="x"
            >
              <p>
                <img :src="require(`@/assets/images/${letras[x]}`)" alt />
                <span  class="option-modal mt-1" v-html="opt.opcion" ></span>
              </p>
            </b-row>
            <p @click="AgregarOpcion(index, i)" class="plus-simulacro preguntas-plus">
              <img class="img-plus-preguntas" src="@/assets/images/plus.png" alt />
              Agregar respuesta
            </p>
            <p class="preguntas"></p>
          </b-card-text>

          <b-button @click="emitToParent()" class="cambios">GUARDAR CAMBIOS</b-button>
        </b-card>
      </b-col>
    </b-row>
    <b-modal content-class="modal-carrera" hide-footer ref="modal-modulo" centered size="lg">
      <b-row align-h="center" class="mt-5 examen-finish">
        <p class="fondo-carrera" style="color:#0F376E">AGREGAR MÓDULO</p>
      </b-row>
      <b-row align-h="center" class="mt-n4">
        <b-col lg="9">
          <input
            required
            placeholder="Titulo del módulo"
            class="pl-2 mt-5 account-dame"
            type="text"
            v-model="form.titulo"
          />
        </b-col>
      </b-row>
      <b-row align-h="center">
        <b-col lg="3">
          <input
            required
            placeholder="Tiempo estimado"
            class="pl-2 mt-4 account-dame"
            type="text"
            v-model="form.tiempo"
          />
        </b-col>
        <b-col lg="3">
          <input
            required
            placeholder="# de preguntas"
            class="pl-2 mt-4 account-dame"
            type="text"
            v-model="form.npreguntas"
          />
        </b-col>
        <b-col lg="3">
          <input
            required
            placeholder="Puntaje"
            class="pl-2 mt-4 account-dame"
            type="text"
            v-model="form.puntaje"
          />
        </b-col>
      </b-row>

      <b-row align-h="center" class="mb-4 mt-4">
        <button
          @click="agregar()"
          style="background:#0F376E!important"
          class="password-aceptar"
        >AGREGAR</button>
      </b-row>
    </b-modal>
    <b-modal content-class="modal-carrera" hide-footer ref="modal-opcion" centered size="lg">
      <b-row align-h="center" class="mt-5 examen-finish">
        <p class="fondo-carrera" style="color:#0F376E">OPCION</p>
      </b-row>
      <b-row align-h="center" class="mt-n4">
        <b-col lg="9">
           <editor
              api-key="no-api-key"
              v-model="opcion"
              :init="{
                          images_upload_url: this.http + '//' + this.api + '/api/imageUpload',

         height: 250,
         menubar: true,
         plugins: [
           'searchreplace visualblocks code fullscreen',
           'insertdatetime image table paste code help wordcount'
         ],
         toolbar:
           'undo redo | formatselect | bold italic backcolor | \
           alignleft aligncenter alignright alignjustify | \
           bullist numlist outdent indent | removeformat | help | image'
       }"
            />

    
        </b-col>
      </b-row>

      <b-row align-h="center" class="mb-4 mt-4">
        <button
          @click="addOpcion()"
          style="background:#0F376E!important"
          class="password-aceptar"
        >ACEPTAR</button>
      </b-row>
    </b-modal>
  </b-container>
</template>
 <script>
import Editor from "@tinymce/tinymce-vue";
import configs from "../../local_config";

export default {
  name: "Modulos",
  components: { editor: Editor },

  props: {},
  data: () => ({
    api: configs.API,
    http: configs.HTTP_API,
    showpreguntas: false,
    modulo: [],
    index: "",
    letras: ["A.png", "B.png", "C.png", "D.png", "E.png"],
    opcion: "",
    moduloopcion: "",
    preguntaopcion: "",
    form: {
      titulo: null,
      puntaje: null,
      npreguntas: null,
      tiempo: null
    }
  }),
  created() {},
  mounted() {},
  methods: {
    agregar() {
      this.showpreguntas = false;
      this.modulo.push({
        titulo: this.form.titulo,
        puntaje: this.form.puntaje,
        npreguntas: parseInt(this.form.npreguntas),
        tiempo: this.form.tiempo,
        preguntas: new Array(parseInt(this.form.npreguntas))
      });
      let id = this.index == "" ? 0 : this.index + 1;
      for (let index = 0; index < this.modulo[id].npreguntas; index++) {
        this.modulo[id].preguntas[index] = {
          descripcion: "",
          opcion: []
        };
      }

      this.$refs["modal-modulo"].hide();
    },
    editar(key) {
      this.index = key;
      this.showpreguntas = true;
    },
    AgregarModulo() {
      this.$refs["modal-modulo"].show();
    },
    AgregarOpcion(modulo, pregunta) {
      this.moduloopcion = modulo;
      this.preguntaopcion = pregunta;
      this.$refs["modal-opcion"].show();
    },
    addOpcion() {
      this.modulo[this.moduloopcion].preguntas[
        this.preguntaopcion
      ].opcion.push({ opcion: this.opcion });
      this.opcion = "";
      this.$refs["modal-opcion"].hide();
    },
    emitToParent() {
      this.$emit("childToParent", this.modulo);
      this.showpreguntas = false;
    }
  },
  computed: {
    isAdmin() {
      return this.$store.getters["isAdmin"];
    }
  }
};
</script>