<template>
  <b-container class="container-layout" fluid>
    <b-row align-h="center" class="mt-3">
      <p
        class="report-text-title mt-5"
      >Realice una busqueda por colegio o por codigo de key de acceso</p>
    </b-row>
       <b-row>
      <b-col cols="12" class="results-content-search mt-3">
        <b-form-group id="form-search-simulacro">
          <img src="@/assets/images/Search.svg" />
          <b-form-input
            id="input-2"
            v-model="search"
            required
            placeholder="Busca por código de key o grado y sección"
            size="lg"
          ></b-form-input>
        </b-form-group>
      </b-col>
    
      <b-col cols="12" lg="12" class="results-content-report mt-n5">
        <p class="report-text-title-2">Data contacto<span class="results-title-line-report-data"></span></p>
      </b-col>
     
      <b-col
        cols="12"
        class="results-content-simulacro-principal"
        v-for="(item,key) in filteredData"
        :key="key"
      >
        <Data ruta="admin" :item="item" :id="key" :filter-key="search"></Data>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import Data from "@/components/Global/Data";

export default {
  name: "Reportes",
  components: { Data },
  data: () => ({
     search: '',
    keys: [],
    premedios: []
  }),
  created() {
    this.$store.dispatch('setModulo', 'DATA CONTACTO')
            this.$store.dispatch("setActiveModalSend", false);
    this.$store.dispatch("setNav", false);

    this.GetKeysAsesor();
  },
  methods: {
    GetKeysAsesor() {
      let user = JSON.parse(localStorage.getItem("userdata"));
      let id = user.id;
      this.$store
        .dispatch("GetKeysAsesorAll", id)
        .then(response => {
          this.keys = response.data.keys;
        })
        .catch(error => {
          console.log(error.message);
        });
    }
  },
  filters: {
    fixed(value) {
      return parseFloat(value).toFixed(0);
    }
  },
  computed: {
       filteredData: function() {
      var data = this.keys;
      var filterKey = this.search && this.search.toLowerCase();
      if (filterKey) {
        data = data.filter(function(row) {
          return Object.keys(row).some(function(key) {
            return (
              String(row[key])
                .toLowerCase()
                .indexOf(filterKey) > -1
            );
          });
        });
      }
      return data;
    }
  },
};
</script>
<style scoped>
</style>