<template>
  <b-container class="container-layout mt-5" fluid>
    <b-row align-h="center">
      <b-col lg="4">
        <b-input
          required
          placeholder="Nombre de examen"
          class="simulacro-register"
          type="text"
          :state="validateStateSimulacro('nombre')"
          v-model="$v.formsimulacro.nombre.$model"
        />
      </b-col>
      <b-col lg="2">
        <b-input
          required
          placeholder="Tiempo total"
          class="simulacro-register"
          type="text"
          disabled="disabled"
          :state="validateStateSimulacro('tiempototal')"
          v-model="$v.formsimulacro.tiempototal.$model"
        />
      </b-col>
      <b-col lg="2">
        <b-input
          required
          placeholder="Puntaje total"
          class="simulacro-register"
          type="text"
          disabled="disabled"
          :state="validateStateSimulacro('puntajetotal')"
          v-model="$v.formsimulacro.puntajetotal.$model"
        />
      </b-col>
    </b-row>
    <b-row align-h="center">
      <b-col lg="2">
        <p class="title-key mt-3">Puntaje por pregunta</p>
      </b-col>
      <b-col lg="2">
        <b-input
          required
          placeholder="Correcta"
          class="simulacro-register"
          type="text"
          :state="validateStateSimulacro('correcta')"
          v-model="$v.formsimulacro.correcta.$model"
        />
      </b-col>
      <b-col lg="2">
        <b-input
          required
          placeholder="Incorrecta"
          class="simulacro-register"
          type="text"
          :state="validateStateSimulacro('incorrecta')"
          v-model="$v.formsimulacro.incorrecta.$model"
        />
      </b-col>
      <b-col lg="2">
        <b-input
          required
          placeholder="En blanco"
          class="simulacro-register"
          type="text"
          :state="validateStateSimulacro('blanco')"
          v-model="$v.formsimulacro.blanco.$model"
        />
      </b-col>
    </b-row>
    <b-row align-h="center">
      <b-col lg="1">
        <b-input
          required
          disabled="disabled"
          placeholder="Tipo"
          class="simulacro-register"
          type="text"
          :state="validateStateSimulacro('tipo')"
          v-model="$v.formsimulacro.tipo.$model"
        />
      </b-col>
      <b-col lg="7">
        <multiselect
          class="simulacro-register"
          placeholder="Agregar carreras"
          label="nombre"
          track-by="id"
          :options="carreras"
          :multiple="true"
          :taggable="true"
          selectLabel="presional para seleccionar"
          selectedLabel="Seleccionado"
          deselectLabel="presional para eliminar"
          @tag="addTag"
          :state="validateStateSimulacro('carrera')"
          v-model="$v.formsimulacro.carrera.$model"
        ></multiselect>
      </b-col>
    </b-row>
    <b-row class="mt-3" align-h="center">
      <p
        v-if="this.$v.formsimulacro.$anyError"
        class="error-register mb-n5 mt-2"
      >Faltan Campos por completar del simulacro</p>
    </b-row>
    <b-row class="mt-5" align-h="center">
      <b-col class="mt-3" cols="4">
        <b-card class="mx-auto card-info text-center">
          <b-card-text @click="AgregarModulo()">
            <img class="img-modulo" src="@/assets/images/plus.png" alt />
            <p class="mt-2 plus-simulacro">Agregar modulo</p>
            <br />
          </b-card-text>
        </b-card>
      </b-col>
      <b-col v-for="(item,key) in modulo" :key="key" v-if="modulo.length>0" class="mt-3" cols="4">
        <b-card
          :style="index==key ?'background:rgba(15, 55, 110, 0.3)':''"
          :header="'Modulo '+ (key+1)"
          header-class="header-info"
          class="mx-auto card-info text-center"
        >
          <b-card-text>
            <p class="info-text">{{item.titulo}}</p>
            <br />
            <b-row align-h="around">
              <p>
                <img
                  style="cursor:pointer"
                  @click="editar(key, item)"
                  class="mr-5 mt-n5"
                  src="@/assets/images/editinfo.png"
                  alt
                />
                <img
                  style="cursor:pointer"
                  @click="removeModulo(key,item)"
                  class="ml-5 mt-n5"
                  src="@/assets/images/eraseinfo.png"
                  alt
                />
              </p>
            </b-row>
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>
    <b-row v-if="showpreguntas" class="mt-5" align-h="center">
      <b-col cols="8">
        <b-card
          class="pl-0"
          header-class="header-preguntas"
          body-class="text-center body-preguntas"
        >
          <template v-slot:header>
            <b-row align-h="center" class="titulo-preguntas-2">{{titulo_preguntas}}</b-row>
          </template>
          <b-row v-if="newmodulo" align-h="center">
            <b-col cols="12">
              <p @click="AgregarPregunta()" class="plus-simulacro">
                <img class="img-plus-preguntas" src="@/assets/images/plus.png" alt />
                Agregar Pregunta
              </p>
            </b-col>
          </b-row>
          <p class="preguntas-edit2"></p>
          <b-card-text class="pl-0" v-for="(items, i) in modulo[index].preguntas" :key="i">
            <b-row>
              <b-col cols="9">
                <p class="pregunta-edit" v-html="modulo[index].preguntas[i]['descripcion']"></p>
              </b-col>
              <b-col cols="3">
                <b-row align-h="center">
                  <p>
                    <img
                      style="cursor:pointer"
                      @click="show(modulo[index].preguntas[i], i)"
                      class="ml-2"
                      src="@/assets/images/eye.png"
                      alt
                    />
                    <img
                      v-if="newmodulo"
                      style="cursor:pointer"
                      @click="edit(modulo[index].preguntas[i], i)"
                      class="ml-3"
                      src="@/assets/images/editinfo.png"
                      alt
                    />
                    <img
                      v-if="newmodulo"
                      style="cursor:pointer"
                      @click="eliminarPregunta(modulo[index].preguntas[i], i)"
                      class="ml-3"
                      src="@/assets/images/eraseinfo.png"
                      alt
                    />
                  </p>
                </b-row>
              </b-col>
            </b-row>
            <div v-show="items.show" class="showoption">
              <b-row class="mt-1 ml-1" v-for="(opt, x) in opcionshow" :key="x">
                <b-col cols="12">
                  <p>
                    <img :src="require(`@/assets/images/${letras[x]}`)" alt />
                    <span class="option-modal" v-html="opt.descripcion"></span>
                  </p>
                </b-col>
              </b-row>
            </div>
            <p class="preguntas-edit2"></p>
          </b-card-text>

          <b-button @click="emitToParent()" class="cambios">GUARDAR CAMBIOS</b-button>
        </b-card>
      </b-col>
    </b-row>

    <b-row class="mt-4 mb-5" align-h="center">
      <b-button class="crear-simulacro" @click="actualizar()">ACTUALIZAR</b-button>
    </b-row>
    <b-modal content-class="modal-carrera" hide-footer ref="modal-modulo" centered size="lg">
      <b-row align-h="center" class="mt-5 examen-finish">
        <p class="fondo-carrera" style="color:#0F376E">AGREGAR MÓDULO</p>
      </b-row>
      <b-row align-h="center" class="mt-n4">
        <b-col lg="9">
          <b-input
            required
            placeholder="Titulo del módulo"
            class="pl-2 mt-5 simulacro-register"
            type="text"
            :state="validateState('titulo')"
            v-model="$v.form.titulo.$model"
          />
        </b-col>
      </b-row>
      <b-row align-h="center">
        <b-col lg="3">
          <b-input
            required
            placeholder="Tiempo estimado"
            class="pl-2 mt-4 simulacro-register"
            type="text"
            :state="validateState('tiempo')"
            v-model="$v.form.tiempo.$model"
          />
        </b-col>
        <b-col lg="3">
          <b-input
            required
            placeholder="# de preguntas"
            class="pl-2 mt-4 simulacro-register"
            type="text"
            :state="validateState('cantidad_preguntas')"
            v-model="$v.form.cantidad_preguntas.$model"
          />
        </b-col>
        <b-col lg="3">
          <b-input
            required
            placeholder="Puntaje"
            class="pl-2 mt-4 simulacro-register"
            type="text"
            :state="validateState('puntaje')"
            v-model="$v.form.puntaje.$model"
          />
        </b-col>
        <p
          v-if="this.$v.form.$anyError"
          class="error-register mb-n5 mt-2"
        >Faltan Campos por completar</p>
      </b-row>

      <b-row align-h="center" class="mb-4 mt-5">
        <button
          @click="agregar()"
          style="background:#0F376E!important"
          class="password-aceptar"
        >AGREGAR</button>
      </b-row>
    </b-modal>
    <b-modal content-class="modal-carrera" hide-footer ref="modal-opcion" centered size="lg">
      <b-row align-h="center" class="mt-5 examen-finish">
        <p class="fondo-carrera" style="color:#0F376E">OPCION</p>
      </b-row>
      <b-row align-h="center" class="mt-n4">
        <b-col lg="9">
          <input
            required
            placeholder="Opcion"
            class="pl-2 mt-5 account-dame"
            type="text"
            v-model="opcion"
          />
        </b-col>
      </b-row>

      <b-row align-h="center" class="mb-4 mt-4">
        <button
          @click="updateOption()"
          style="background:#0F376E!important"
          class="password-aceptar"
        >ACEPTAR</button>
      </b-row>
    </b-modal>

    <b-modal content-class="modal-carrera" hide-footer ref="modal-opcion2" centered size="lg">
      <b-row align-h="center" class="mt-5 examen-finish">
        <p class="fondo-carrera" style="color:#0F376E">OPCION</p>
      </b-row>
      <b-row align-h="center" class="mt-n4">
        <b-col lg="9">
          <input
            required
            placeholder="Opcion"
            class="pl-2 mt-5 account-dame"
            type="text"
            v-model="opcion"
          />
        </b-col>
      </b-row>

      <b-row align-h="center" class="mb-4 mt-4">
        <button
          @click="addOpcion()"
          style="background:#0F376E!important"
          class="password-aceptar"
        >ACEPTAR</button>
      </b-row>
    </b-modal>
    <b-modal
      no-enforce-focus
      content-class="modal-pregunta"
      hide-footer
      ref="modal-pregunta"
      centered
    >
      <b-row v-if="showpreguntas" class="mt-5" align-h="center">
        <b-col cols="12">
          <editor
            api-key="no-api-key"
            v-model="pregunta"
            :init="{
                        images_upload_url: this.http + '//' + this.api + '/api/imageUpload',

         height: 250,
         menubar: true,
         plugins: [
           'searchreplace visualblocks code fullscreen',
           'insertdatetime image table paste code help wordcount'
         ],
         toolbar:
             'bold italic  | \
           alignleft aligncenter alignright alignjustify | \
           bullist'
       }"
          />
          <p @click="AgregarOpcion()" class="plus-simulacro preguntas-plus">
            <img class="img-plus-preguntas" src="@/assets/images/plus.png" alt />
            Agregar respuesta
          </p>
          <b-row class="mb-n3 ml-2" v-for="(opt, x) in opciones" :key="x">
            <b-col cols="5">
              <p>
                <img class="option-modal-image" :src="require(`@/assets/images/${letras[x]}`)" alt />
                <span class="option-modal" v-html="opt.descripcion"></span>
              </p>
            </b-col>

            <b-col cols="2">
              <img
                style="cursor:pointer"
                @click="editOption(opt, x)"
                class="ml-2"
                src="@/assets/images/editinfo.png"
                alt
              />
              <img
                style="cursor:pointer"
                @click="deleteOption(opt, x)"
                class="ml-3"
                src="@/assets/images/eraseinfo.png"
                alt
              />
            </b-col>
          </b-row>
        </b-col>
      </b-row>

      <b-row v-if="!newpregunta" align-h="center" class="mb-4 mt-4">
        <button
          @click="actualizarPregunta()"
          style="background:#0F376E!important"
          class="password-aceptar"
        >MODIFICAR</button>
      </b-row>
      <b-row v-if="newpregunta" align-h="center" class="mb-4 mt-4">
        <button
          @click="agregarPregunta()"
          style="background:#0F376E!important"
          class="password-aceptar"
        >AGREGAR</button>
      </b-row>
    </b-modal>

    <b-modal hide-footer ref="modal-examen" centered size="md">
      <b-row align-h="center" class="mt-2">
        <img src="@/assets/images/checkdatos.png" alt />
      </b-row>

      <b-row align-h="center" class="mt-4">
        <b-col cols="10">
          <p class="key-sub">Examen creado exitosamente</p>
        </b-col>
      </b-row>
      <b-row align-h="center" class="mt-3">
        <button @click="finish()" class="key-aceptar">ACEPTAR</button>
      </b-row>
    </b-modal>
    <b-row align-h="center">
      <semipolar-spinner
        v-if="loaded"
        class="spinner ml-5"
        :animation-duration="2000"
        :size="80"
        color="#0F376E"
      />
    </b-row>
  </b-container>
</template>

<script>
import { SemipolarSpinner } from "epic-spinners";

import Multiselect from "vue-multiselect";
import Editor from "@tinymce/tinymce-vue";
import { validationMixin } from "vuelidate";
import configs from "../../local_config";

import { required, numeric, decimal } from "vuelidate/lib/validators";
export default {
  name: "NewModulo",
  mixins: [validationMixin],
  components: { Editor, Multiselect, SemipolarSpinner },
  data: () => ({
    api: configs.API,
    http: configs.HTTP_API,
    loaded: true,
    newmodulo: false,
    opcionshow: [],
    newpregunta: false,
    showpreguntas: false,
    showoption: false,
    modulo: [],
    optiondelete: [],
    preguntadelete: [],

    opciones: [],
    index: 0,
    keypregunta: 0,
    pregunta: "",
    titulo_preguntas: "",
    letras: ["A.png", "B.png", "C.png", "D.png", "E.png"],
    opcion: "",
    opt: "",
    moduloopcion: "",
    preguntaopcion: "",
    form: {
      titulo: null,
      puntaje: null,
      cantidad_preguntas: null,
      tiempo: null
    },
    key: "",
    colegios: {},
    formsimulacro: {
      id: null,
      nombre: null,
      tiempototal: 0,
      puntajetotal: 0,
      correcta: null,
      incorrecta: null,
      carrera: [],
      tipo: null,
      blanco: null
    },
    secciones: [],
    grados: [],
    carreras: [],
    carrera: [],

    simulacros: [],
    simulacro: [],

    premedios: [],
    data: []
  }),
  validations: {
    formsimulacro: {
      nombre: {
        required
      },
      tiempototal: {
        required,
        numeric
      },
      tipo: {
        required
      },
      puntajetotal: {
        required,
        decimal
      },
      incorrecta: {
        required,
        decimal
      },
      carrera: {
        required
      },
      blanco: {
        required,
        decimal
      },
      correcta: {
        required,
        decimal
      }
    },

    form: {
      titulo: {
        required
      },
      puntaje: {
        required,
        decimal
      },
      cantidad_preguntas: {
        required,
        numeric
      },
      tiempo: {
        required,
        numeric
      }
    }
  },
  created() {
    this.$store.dispatch(
      "setModulo",
      "EDITAR SIMULACRO TIPO " + localStorage.getItem("tipo")
    );
    this.$store.dispatch("setNav", "active");

    this.$store.dispatch("getCareer").then(response => {
      this.carreras = response.data.carrera;
    });
    this.getSimulacros();
  },
  methods: {
    show(item, i) {
      this.opcionshow = item.opcion;
      this.modulo[this.index].preguntas[i].show =
        this.modulo[this.index].preguntas[i].show === true ? false : true;
      console.log(this.modulo[this.index].preguntas[i].show);
      //this.showoption[i] = !this.showoption[i]
    },
    eliminarPregunta(item, key) {
      this.preguntadelete.push(
        this.modulo[this.index].preguntas[key].id_pregunta
      );
      this.modulo[this.index].cantidad_preguntas =
        this.modulo[this.index].cantidad_preguntas - 1;
      this.modulo[this.index].puntaje =
        this.modulo[this.index].puntaje - this.formsimulacro.correcta;
      this.formsimulacro.puntajetotal =
        this.formsimulacro.puntajetotal - this.formsimulacro.correcta;
      this.modulo[this.index].preguntas.splice(key, 1);
    },
    getSimulacros() {
      let data = {
        id_simulacro: localStorage.getItem("id_simulacro"),
        tipo: localStorage.getItem("tipo")
      };
      this.$store.dispatch("getSimulacroTipo", data).then(response => {
        this.simulacros = response.data.simulacro;
        (this.formsimulacro = {
          id: this.simulacros.id_simulacro_hijo,
          id_simulacro_padre: this.simulacros.id_simulacro,
          nombre: this.simulacros.nombre,
          tiempototal: this.simulacros.tiempo,
          puntajetotal: this.simulacros.puntaje_total,
          correcta: this.simulacros.puntaje_pregunta_correcta,
          incorrecta: this.simulacros.puntaje_pregunta_incorrecta,
          carrera: response.data.carreras,
          tipo: this.simulacros.tipo,
          blanco: this.simulacros.puntaje_pregunta_enblanco
        }),
          (this.modulo = response.data.modulos);
        this.loaded = false;
      });
    },
    actualizarPregunta() {
      this.modulo[this.index].preguntas[
        this.keypregunta
      ].descripcion = this.pregunta;
      this.$refs["modal-pregunta"].hide();
    },
    agregarPregunta() {
      let pregunta = {
        id_modulo: this.modulo[this.index].id_modulo,
        descripcion: this.pregunta,
        opcion: this.opciones
      };
      this.modulo[this.index].cantidad_preguntas =
        this.modulo[this.index].cantidad_preguntas + 1;
      this.modulo[this.index].puntaje =
        this.modulo[this.index].puntaje + this.formsimulacro.correcta;
      this.formsimulacro.puntajetotal =
        this.formsimulacro.puntajetotal + this.formsimulacro.correcta;

      this.modulo[this.index].preguntas.push(pregunta);

      this.$refs["modal-pregunta"].hide();
    },
    validateStateSimulacro(name) {
      const { $dirty, $error } = this.$v.formsimulacro[name];
      return $dirty ? !$error : null;
    },
    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? !$error : null;
    },
    editOption(opcion, key) {
      this.opcion = opcion.descripcion;
      this.opt = key;
      this.$refs["modal-opcion"].show();
    },
    deleteOption() {
      //this.optiondelete.push(opcion)
      //this.opciones.splice(key, 1);
      //console.log(this.opciones[key])
    },
    removeModulo(key, item) {
      this.formsimulacro.tiempototal =
        parseInt(this.formsimulacro.tiempototal) - parseInt(item.tiempo);
      this.formsimulacro.puntajetotal =
        parseInt(this.formsimulacro.puntajetotal) - parseInt(item.puntaje);
      this.modulo.splice(key, 1);
    },
    updateOption() {
      this.opciones[this.opt].descripcion = this.opcion;
      this.$refs["modal-opcion"].hide();
    },
    agregar() {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }
      this.formsimulacro.puntajetotal =
        parseInt(this.formsimulacro.puntajetotal) + parseInt(this.form.puntaje);
      this.formsimulacro.tiempototal =
        parseInt(this.formsimulacro.tiempototal) + parseInt(this.form.tiempo);
      this.showpreguntas = false;
      this.modulo.push({
        new: true,
        titulo: this.form.titulo,
        puntaje: this.form.puntaje,
        cantidad_preguntas: parseInt(this.form.cantidad_preguntas),
        tiempo: this.form.tiempo,
        preguntas: new Array(parseInt(this.form.cantidad_preguntas))
      });
      this.index = this.index + 1;
      console.log(this.modulo[this.index].preguntas);
      for (
        let index = 0;
        index < this.modulo[this.index].cantidad_preguntas;
        index++
      ) {
        this.modulo[this.index].preguntas[index] = {
          descripcion: "<p></p>",
          opcion: []
        };
      }

      this.$refs["modal-modulo"].hide();
      this.form = {
        titulo: null,
        puntaje: null,
        cantidad_preguntas: null,
        tiempo: null
      };
    },
    edit(pregunta, key) {
      this.newpregunta = false;
      this.keypregunta = key;
      this.pregunta = pregunta.descripcion;
      this.opciones = pregunta.opcion;
      this.$refs["modal-pregunta"].show();
    },
    AgregarPregunta() {
      this.newpregunta = true;
      this.pregunta = "";
      this.opciones = [];

      this.$refs["modal-pregunta"].show();
    },
    editar(key, item) {
      this.newmodulo = item.new ? true : false;
      this.index = key;
      this.showpreguntas = true;
      this.titulo_preguntas = this.modulo[key].titulo;
    },
    AgregarModulo() {
      this.$refs["modal-modulo"].show();
    },
    finish() {
      this.$refs["modal-examen"].hide();
    },

    AgregarOpcion() {
      /*this.moduloopcion = modulo;
      this.preguntaopcion = pregunta;
      */
      this.$refs["modal-opcion2"].show();
    },
    addOpcion() {
      this.opciones.push({ descripcion: this.opcion });
      this.opcion = "";
      this.$refs["modal-opcion2"].hide();
    },
    addTag(newTag) {
      const tag = {
        name: newTag,
        code: newTag.substring(0, 2) + Math.floor(Math.random() * 10000000)
      };
      this.carrera.push(tag);
      this.carreras.push(tag);
    },

    onChildClick(value) {
      this.data = value;
    },
    actualizar() {
      this.$v.formsimulacro.$touch();
      if (this.$v.formsimulacro.$anyError) {
        return;
      }
      this.loaded = true;
      let data = {
        modulos: this.modulo,
        simulacro: this.formsimulacro,
        tipo: "p"
      };
      this.$store.dispatch("updateSimulacroTipo", data).then(response => {
        this.simulacro = response.data.simulacro;
        this.loaded = false;
        this.$refs["modal-examen"].show();
        this.getSimulacros();
      });
    },
    emitToParent() {
      this.$emit("childToParent", this.modulo);
      this.showpreguntas = false;
    }
  },
  filters: {
    fixed(value) {
      return parseFloat(value).toFixed(0);
    }
  },
  computed: {}
};
</script>
<style scoped>
</style>