<template>
  <div>
    <b-row class="mt-4" align-h="center">
      <b-col lg="9">
        <p class="title-edit">Nombre de la instruccion</p>
        <b-input
          required
          placeholder="Nombre"
          class="simulacro-register"
          type="text"
          v-model="contenido.nombre"
        />
      </b-col>
    </b-row>
    <b-row class="mt-4" align-h="center">
      <b-col lg="9">
        <editor
          initial-value=""
          api-key="no-api-key"
          v-model="info"
          :init="{
          images_upload_url: this.http + '//' + this.api + '/api/imageUpload',
         height: 500,
         menubar: true,
         plugins: [
           'advlist autolink lists link image charmap print preview anchor',
           'searchreplace visualblocks code fullscreen',
           'insertdatetime media table paste code help wordcount'
         ],
         toolbar:
           'bold italic  | \
           alignleft aligncenter alignright alignjustify | \
           bullist'
       }"
        />
      </b-col>
    </b-row>
    <b-row align-h="center" class="mb-4 mt-5">
      <button
        @click="update()"
        style="background:#0F376E!important"
        class="password-aceptar"
      >MODIFICAR</button>
    </b-row>
    <b-modal content-class="modal-account" hide-footer ref="modal-modify" centered size="md">
      <b-row align-h="center" class="mt-3"></b-row>
      <b-row align-h="center" class="mt-2">
        <img src="@/assets/images/checkdatos.png" alt />
      </b-row>

      <b-row align-h="center" class="mt-3">
        <b-col cols="12">
          <p class="key-sub">Se modifico Correctamente</p>
        </b-col>
        <b-col cols="12">
          <p>{{contenido.nombre}}</p>
        </b-col>
      </b-row>
      <b-row align-h="center" class="mb-2">
        <button @click="finish()" class="key-aceptar">ACEPTAR</button>
      </b-row>
    </b-modal>
  </div>
</template>
<script>
import Editor from "@tinymce/tinymce-vue";
import configs from "../../local_config";

export default {
  name: "editar",

  components: { editor: Editor },
  props: {
    tipo: String,
    nombre: String,
    type: Number
  },
  data: () => ({
    api: configs.API,
    http: configs.HTTP_API,
    nombre: "",
    contenido: "",
    info: ""
  }),
  created() {
    this.$store.dispatch("setModulo", this.tipo);
    this.$store.dispatch("setNav", "active");
    this.contenido = localStorage.getItem("item");
    this.contenido = JSON.parse(this.contenido);
    this.info = this.contenido.instruccion
      ? this.contenido.instruccion
      : this.contenido.animacion;
  },
  methods: {
    goRouter(link) {
      //this.$store.dispatch('setSimulacros', id)
      this.$router.push({ name: link });
    },

    finish() {
      this.$refs["modal-modify"].hide();
    },
    update() {
      let info = localStorage.getItem("info");
      info = JSON.parse(info);
      if (info.type == 1) {
        this.contenido.instruccion = this.info;
        this.$store
          .dispatch("updateInstruccion", this.contenido)
          .then(response => {
            this.$refs["modal-modify"].show();
            this.contenido = response.data.instruccion;
          })
          .catch(error => {
            console.log(error.message);
          });
      }
      if (info.type == 2) {
        this.contenido.instruccion = this.info;
        this.$store
          .dispatch("updateInstruccionModulo", this.contenido)
          .then(response => {
            this.$refs["modal-modify"].show();
            this.contenido = response.data.instruccion;
          })
          .catch(error => {
            console.log(error.message);
          });
      }
      if (info.type == 3 || info.type == 4) {
        this.contenido.animacion = this.info;
        this.$store
          .dispatch("updateAnimacion", this.contenido)
          .then(response => {
            this.$refs["modal-modify"].show();
            this.contenido = response.data.animacion;
          })
          .catch(error => {
            console.log(error.message);
          });
      }
    }
  },
  computed: {
    isAdmin() {
      return this.$store.getters["isAdmin"];
    }
  }
};
</script>
<style scoped>
</style>