<template>
    <b-container fluid>
        <b-row class="school-container-layout mb-5" id="support">
            <b-col cols="12" class="list-simulacros-content">
                <p class="list-simulacros-text-content">Elija uno de los grupos de Exámen Simulacro</p>
            </b-col>
            <b-col cols="12" class="mt-5" >
                <Simulacros :select="0"  :url="url"/>
            </b-col>
        </b-row>

    </b-container>
</template>
<script>
    import Simulacros from '@/components/Global/Simulacros'

    export default {
        name: 'ListSimulacros1',
        components: {Simulacros},
        data: () => ({
            url: 'Listado-Simulacros-Tipo-Admin'
        }),
        created() {
            this.$store.dispatch('setModulo', 'RESULTADOS POR GRUPO')
            this.$store.dispatch('setNav', 'active')
        },
        methods: {
            goRouter(url) {
                this.$router.push(url)
            },
            srcImagen(img) {
                let src = require('@/assets/images/' + img)
                return src
            }
        }
    }
</script>