<template>
  <b-container fluid class="container-layout">
    <img
      v-if="index>0"
      @click="backInstruccion()"
      class="atras"
      src="@/assets/images/atras.png"
      alt
    />
    <b-row align-h="center" class>
      <p class="title mt-4">BIENVENIDO(A): ¡{{usuario | upper}}!</p>
    </b-row>
    <b-row align-h="center">
      <p class="title mt-4 mb-5">CARRERA: {{carrera | upper}}</p>
    </b-row>
    <b-row v-if="intrucc && instrucciones.length>0" align-h="center" class="mt-4">
      <b-col class lg="4">
        <p v-if="instrucciones[index][0].instruccion" v-html="instrucciones[index][0].instruccion"></p>
      </b-col>
      <b-col class="vertical" lg="2"></b-col>
      <b-col class="columna2-instruccion" lg="4">
        <p v-if="instrucciones[index][1].instruccion" v-html="instrucciones[index][1].instruccion"></p>
      </b-col>
    </b-row>
    <b-row align-h="center" class="mt-3">
      <button
        v-if="index<1 && instrucciones.length>3"
        @click="nextInstruccion()"
        type="button"
        class="mt-3 mb-5 home-button-login"
      >Siguiente</button>
      <button
        v-if="index==1 || instrucciones.length<3"
        @click="start()"
        type="button"
        class="mt-3 mb-5 home-button-login"
      >Comenzar</button>
    </b-row>

    <b-modal
      @hidden="ocultar()"
      hide-footer
      content-class="modal-animacion"
      ref="modal-1"
      hide-header-close
      no-close-on-backdrop
      centered
      size="lg"
      v-model="modalShow"
    >
      <swiper
        @transitionEnd="verificcarUltimo()"
        ref="swiper"
        class="swiper"
        :options="swiperOption"
      >
        <swiper-slide v-for="(items,key) in animacionessimulacro" :key="key">
          <b-row align-h="center">
            <p v-if="key>0" class="titulo-animacion text-center">{{key}}° {{items.nombre}}</p>
            <span class="animacion" v-html="items.animacion" />
          </b-row>
        </swiper-slide>
        <div class="swiper-pagination bullet" slot="pagination"></div>
      </swiper>
      <b-row align-h="center">
        <button
          @click="empezarSimulacro()"
          @autoplayStop="stop()"
          type="button"
          class="mt-3 home-button-login"
        >Entendido</button>
      </b-row>
    </b-modal>

  </b-container>
</template>
<script>
import { Swiper, SwiperSlide } from "vue-awesome-swiper";
import "swiper/css/swiper.css";
export default {
  name: "Instruccion",
  components: {
    Swiper,
    SwiperSlide
  },
  props: {
    tipo: {
      type: String
    }
  },
  data: () => ({
    intrucc: false,
    showInstruccion: false,
    swiperOption: {
      effect: "fade",
      speed: 1000,

      fadeEffect: {
        crossFade: true
      },
      slidesPerView: 1,
      pagination: {
        el: ".swiper-pagination",
        dynamicBullets: true
      },
      autoplay: {
        delay: 2000,
        disableOnInteraction: false
      },
      on: {
        init: function() {
       
            console.log(this);
            this.activeIndex = 0
            this.autoplay.paused = false
             this.autoplay.start(); // calling autoplay on 4th slides.
  
        }
      }
    },
    slide: 0,
    modal2: false,
    modal3: false,
    sliding: null,
    modalShow: false,
    carrera: "",
    usuario: "",
    intruccionesGenerales: "",
    intervalo: 1000,
    instrucciones: [],
    intruccionesmodulo: "",
    animacionessimulacro: "",
    animacionesresultados: "",
    index: 0
  }),
  created() {
    this.carrera = localStorage.getItem("carrera");
    let user = JSON.parse(localStorage.getItem("userdata"));
    this.usuario = user.name;
    this.getInstruccionesGenereales();
    this.getAnimacionesSimulacros();
    this.getAnimacionesResultados();
    console.log("aqui  el swipper", this.$refs.swiper);
  },
  methods: {
    empezarSimulacro() {
      this.$router.push("simulacro");
    },
    showModal() {
      this.$refs["modal-2"].show();
      this.showInstruccion = true;
      this.$refs["modal-1"].hide();
    },
    verificcarUltimo() {
      if (this.swiper.isEnd) {
        this.modal2 = true;
      }
    },
    start() {
      this.modalShow = true;
    },
    ocultar() {
      this.swiper.autoplay.start();
    },
    nextInstruccion() {
      this.index = this.index + 1;
    },
    backInstruccion() {
      this.index = this.index - 1;
    },
    getInstruccionesGenereales() {
      this.$store
        .dispatch(
          "getInstruccionesGenereales",
          localStorage.getItem("id_simulacro")
        )
        .then(response => {
          this.intruccionesGenerales = response.data.instruccion;
          var perChunk = 2; // items per chunk

          this.instrucciones = this.intruccionesGenerales.reduce(
            (resultArray, item, index) => {
              const chunkIndex = Math.floor(index / perChunk);

              if (!resultArray[chunkIndex]) {
                resultArray[chunkIndex] = []; // start a new chunk
              }

              resultArray[chunkIndex].push(item);

              return resultArray;
            },
            []
          );
          this.intrucc = true;
          console.log(this.instrucciones);
        })
        .catch(error => {
          console.log(error.message);
        });
    },
  
    getAnimacionesSimulacros() {
      this.$store
        .dispatch(
          "getAnimacionesSimulacros",
          localStorage.getItem("id_simulacro")
        )
        .then(response => {
          this.animacionessimulacro = response.data.animacion;
        })
        .catch(error => {
          console.log(error.message);
        });
    },
    getAnimacionesResultados() {
      this.$store
        .dispatch(
          "getAnimacionesResultados",
          localStorage.getItem("id_simulacro")
        )
        .then(response => {
          this.animacionesresultados = response.data;
        })
        .catch(error => {
          console.log(error.message);
        });
    }
  },
  computed: {
    swiper() {
      return this.$refs.swiper.$swiper;
    },
    swiper2() {
      return this.$refs.swiper2.$swiper;
    }
  },
  filters: {
    upper(value) {
      return value.toUpperCase();
    }
  }
};
</script>