<template>
    <results-student
            :carrera="carrera"
            :puntaje="puntaje"
            :total="total"
            :resultados="resultados"
            :aprobado="aprobado"
    />
</template>

<script>
    import ResultsStudent from '@/components/Global/ResultsStudent'

    export default {
        name: 'Resultados',
        components: {
            ResultsStudent
        },
        data: () => ({
            puntaje: '',
            aprobado: '',
            total: '',
            resultados: [],
            carrera: ''
        }),
        created() {
            this.$store.dispatch('setModulo', 'TUS RESULTADOS')
            this.getResultado()
            let userdata = JSON.parse(localStorage.getItem('userdata'))
            this.carrera = userdata.carrera
        },
        methods: {
            getResultado() {
                this.$store.dispatch('getResultado', localStorage.getItem('id_estudiante'))
                    .then((response) => {
                        this.resultados = response.data.resultados
                        localStorage.setItem('id_simulacro', this.resultados[0].id_simulacro)
                        this.puntaje = response.data.puntaje_obtenido
                        this.total = response.data.total[0]
                        this.aprobado = response.data.aprobado
                    })
                    .catch((error) => {
                        console.log(error.message)
                    })
            }
        }
    }
</script>
<style scoped>
</style>