<template>
  <b-modal
    hide-footer
    ref="modal-modulo"
    hide-header-close
    centered
    size="lg"
  >
    <div class="contModal modalGde modalTerminos">
      <div class="contentModal">
        <div class="modalHeader">
          <h2>TÉRMINOS Y CONDICIONES DE LA POLÍTICA DE PRIVACIDAD</h2>
        </div>
        <div class="contenidoModal">
          <div class="textBlock">
            <h4>1. ALCANCE</h4>
            <p>Esta “Política de Privacidad en Protección de Datos Personales” se aplicará a todos los bancos de datos y/o archivos que contengan datos personales que sean objeto de tratamiento por parte de La UNIVERSIDAD CATÓLICA SAN PABLO, que cuenta con la siguiente información:</p>
            <p>
              <b>Nombre:</b> UNIVERSIDAD CATÓLICA SAN PABLO
              <br />
              <b>RUC N°:</b> 20327998413
              <br />
              <b>Domicilio:</b>
 Urb. Campiña Paisajista, Quinta Vivanco s/n, distrito, provincia y departamento de Arequipa
            </p>
          </div>

          <div class="textBlock">
            <h4>2. INTRODUCCIÓN</h4>
            <p>En la UNIVERSIDAD CATÓLICA SAN PABLO aseguramos la máxima reserva y protección de los datos personales de titularidad de nuestros alumnos, colaboradores, proveedores, etc.</p>
            <p>Este documento describe la “Política de Privacidad en Protección de Datos Personales” que regula el tratamiento de los datos personales, que en la UNIVERSIDAD realizamos en el desarrollo de nuestras actividades.</p>
          </div>

          <div class="textBlock">
            <h4>3. OBJETIVO Y FINALIDAD</h4>
            <p>En la UNIVERSIDAD CATÓLICA SAN PABLO somos conscientes de la elevada importancia que tiene la privacidad de nuestros alumnos y colaboradores y de todas aquellas personas que se interesan por nuestros servicios. Siendo coherentes con esta consideración, tenemos el compromiso de respetar su privacidad y proteger la confidencialidad de su información privada y datos personales. Por ello, el objetivo de esta política general de privacidad es dar a conocer la manera en que se recogen, se tratan y se protegen los datos personales a los que accedemos en el ejercicio de nuestras actividades comerciales.</p>
            <p>La información personal privada no incluye datos que están disponibles a través de fuentes accesibles al público. Se entiende por tales, los medios de comunicación electrónica, óptica y de otra tecnología concebidos para facilitar información al público y abiertos a la consulta general, las guías telefónicas, los diarios y revistas, los medios de comunicación social, las listas profesionales, los repertorios de jurisprudencia anonimizados, los Registros Públicos administrados por la Superintendencia Nacional de Registros Públicos así como todo otro registro o banco de datos calificado como público conforme a ley.</p>
          </div>

          <div class="textBlock">
            <h4>4. TRATAMIENTO DE DATOS PERSONALES EN EL PROCESO DE RECLUTAMIENTO DE PERSONAL</h4>
            <p>
              <b>a. FINALIDAD DE TRATAMIENTO EN EL RECLUTAMIENTO DE PERSONAL</b>
            </p>
            <p>La UNIVERSIDAD CATÓLICA SAN PABLO recopilará los datos personales de los postulantes a puestos de docentes y administrativos con la finalidad de:</p>
            <p>(i) Gestionar el proceso de selección para contratación de personal docente o administrativo al interior de LA UNIVERSIDAD.</p>
            <p>(ii) Almacenar información de candidatos para contratación de personal docente o administrativo al interior de LA UNIVERSIDAD en función a los requerimientos de la institución.</p>
            <p>(iii) Registro de los datos personales en el banco de datos «Postulantes laborales» de titularidad de LA UNIVERSIDAD.</p>
            <p>
              <b>b. DATOS PERSONALES DE CARÁCTER OBLIGATORIO</b>
            </p>
            <p>Para llevar a cabo las finalidades descritas en la presente política de privacidad, es obligatorio nos proporcione los siguientes datos personales: nombres y apellidos, número de DNI, número de carné de extranjería, domicilio, imagen, teléfono fijo y móvil, correo electrónico, fecha y lugar de nacimiento, nacionalidad, sexo, profesión, edad, datos académicos y datos de persona de contacto.</p>
            <p>
              <b>c. CONSECUENCIAS DE PROPORCIONAR LOS DATOS O NEGATIVA DE HACERLO</b>
            </p>
            <p>De no proporcionar los datos obligatorios (*) no podrá participar del proceso de reclutamiento de personal.</p>
            <p>
              <b>d. PLAZO DE CONSERVACIÓN</b>
            </p>
            <p>Sus datos personales serán tratados de forma temporal durante el desarrollo del proceso para la contratación de personal docente y administrativo, y mientras sean necesarios para cumplir con las finalidades anteriormente descritas.</p>
          </div>

          <div class="textBlock">
            <h4>5. TRATAMIENTO DE DATOS PERSONALES EN EL TRATAMIENTO DE DATOS DE POSTULANTES UNIVERSITARIOS</h4>
            <p>
              <b>a. FINALIDAD DE TRATAMIENTO DE DATOS DE POSTULANTES UNIVERSITARIOS</b>
            </p>
            <p>La UNIVERSIDAD CATÓLICA SAN PABLO recopilará los datos personales de los postulantes universitarios con la finalidad de:</p>
            <p>(i) Gestionar el proceso de admisión.</p>
            <p>(ii) Registro en el banco de datos denominado «Postulantes Universitarios»</p>
            <p>(iii) Usar, brindar y/o transferir esta información a los proveedores de servicios tecnológicos que contraten con LA UNIVERSIDAD, así como a autoridades y terceros autorizados por ley.</p>
            <p>(iv) Cumplir con fines estadísticos e históricos de LA UNIVERSIDAD.</p>
            <p>
              <b>b. DATOS PERSONALES DE CARÁCTER OBLIGATORIO</b>
            </p>
            <p>Para llevar a cabo las finalidades descritas en la presente política de privacidad, es obligatorio nos proporcione los siguientes datos personales: Nombres y apellidos, número de DNI, carné de extranjería, domicilio, teléfono fijo y móvil, correo electrónico, fecha de nacimiento, nacionalidad, sexo, profesión, edad, datos académicos, datos de la persona de contacto.</p>
            <p>Asimismo, se recopilarán los datos sensibles relativos a la salud física o mental, en la medida que se consultará si es una persona con discapacidad. Ello conforme a la Ley N° 30220, Ley Universitaria.</p>
            <p>
              <b>c. CONSECUENCIAS DE PROPORCIONAR LOS DATOS O NEGATIVA DE</b>
            </p>
            <p>De no proporcionar los datos obligatorios (*) no podrá formar parte del proceso de admisión.</p>
            <p>
              <b>d. PLAZO DE CONSERVACIÓN</b>
            </p>
            <p>Sus datos personales serán tratados de forma temporal durante el desarrollo del Proceso de Admisión, y mientras sean necesarios para cumplir con las finalidades anteriormente descritas.</p>
          </div>

          <div class="textBlock">
            <h4>6. TRATAMIENTO DE DATOS PERSONALES DE ALUMNOS UNIVERSITARIOS Y ALUMNOS DE POSTGRADO</h4>
            <p>
              <b>a. FINALIDAD DE TRATAMIENTO DE DATOS DE ALUMNOS UNIVERSITARIOS</b>:
            </p>
            <p>La UNIVERSIDAD CATÓLICA SAN PABLO recopilará los datos personales de los alumnos universitarios con la finalidad de:</p>
            <p>(i) Ejecutar, gestionar y administrar la relación contractual que se genera por la matrícula.</p>
            <p>(ii) Usar, brindar y/o transferir esta información a los proveedores de servicios tecnológicos que contraten con LA UNIVERSIDAD, así como a autoridades y terceros autorizados por ley.</p>
            <p>(iii) Cumplir con fines estadísticos e históricos para LA UNIVERSIDAD</p>
            <p>(iv) Registrar sus datos personales en el Banco de Datos “Alumnos Universitarios” de titularidad de LA UNIVERSIDAD.</p>
            <p>(v) Evaluar su calidad crediticia y capacidad de pago.</p>
            <p>(vi) Evaluar cualquier solicitud que efectúe y/o pudiere efectuar.</p>
            <p>(vii) Fines informativos, ya sean propios de LA UNIVERSIDAD y/o de las asociaciones que forman parte del mismo grupo y/o de sus socios comerciales, públicos o privados, para lo cual podrán utilizar, entre otros medios, los centros de llamadas (call centers), sistemas de llamado telefónico, envío de mensajes de texto a celular o de correos electrónicos masivos y/o personalizados, envío de revistas y/o catálogos y/o cualquier otro medio de comunicación similar existente o por existir.</p>
            <p>(viii) Usar, brindar y/o transferir esta información para dar cumplimiento a las obligaciones y/o requerimientos que se?generen en virtud de las normas vigentes en el ordenamiento jurídico peruano, incluyendo, las del sistema de prevención de lavado de activos y financiamiento del terrorismo y normas prudenciales.</p>
            <p>(ix) Efectuar encuestas sobre los servicios de LA UNIVERSIDAD /o de las asociaciones que forman parte del mismo grupo económico.</p>
            <p>
              <b>b. DATOS PERSONALES DE CARÁCTER OBLIGATORIO</b>
            </p>
            <p>Para llevar a cabo las finalidades descritas en la presente política de privacidad, es obligatorio nos proporcione los siguientes datos personales: Nombres y apellidos, número de DNI, carné de extranjería, domicilio, teléfono fijo y móvil, correo electrónico, fecha de nacimiento, nacionalidad, sexo, profesión, edad, datos académicos, datos de la persona de contacto.</p>
            <p>Asimismo, se recopilarán los datos sensibles relativos a la salud física o mental, en la medida que se consultará si es una persona con discapacidad. Ello conforme a la Ley N° 30220, Ley Universitaria.</p>
            <p>
              <b>c. CONSECUENCIAS DE PROPORCIONAR LOS DATOS O NEGATIVA DE HACERLO</b>
            </p>
            <p>De no proporcionar los datos obligatorios (*) no podrá matricularse en la Universidad.</p>
            <p>
              <b>d. PLAZO DE CONSERVACIÓN</b>
            </p>
            <p>Sus datos personales serán tratados mientras sean necesarios para cumplir con las finalidades anteriormente descritas, o hasta por cinco (05) años luego de concluida la relación contractual, almacenando únicamente la información necesaria para el cumplimiento de obligaciones legales.</p>
          </div>

          <div class="textBlock">
            <h4>7. TRATAMIENTO DE DATOS PERSONALES PARA ENVÍO DE PUBLICIDAD Y SUSCRIPCIONES</h4>
            <p>
              <b>a. FINALIDAD DE TRATAMIENTO DE DATOS PARA ENVÍO DE PUBLICIDAD Y SUSCRIPCIONES</b>
            </p>
            <p>La UNIVERSIDAD CATÓLICA SAN PABLO recopilará los datos personales de las personas que deseen recibir publicidad con la finalidad de:</p>
            <p>(i) Enviarle publicidad de LA UNIVERSIDAD y/o de las asociaciones que forman parte del mismo grupo y/o de sus socios comerciales, públicos o privados, para lo cual podrán utilizar, entre otros medios, los centros de llamadas (call centers), sistemas de llamado telefónico, envío de mensajes de texto a celular o de correos electrónicos masivos y/o personalizados, envío de revistas y/o catálogos y/o cualquier otro medio de comunicación similar existente o por existir.</p>
            <p>(ii) Registrar sus datos personales en el banco de datos «Publicidad», el cual es de titularidad de LA UNIVERSIDAD.</p>
            <p>
              <b>b. DATOS PERSONALES DE CARÁCTER OBLIGATORIO</b>
            </p>
            <p>Para llevar a cabo las finalidades descritas en la presente política de privacidad, es obligatorio nos proporcione los siguientes datos personales: Nombres y apellidos.</p>
            <p>Son datos facultativos los siguientes: domicilio, teléfono fijo y móvil, correo electrónico, redes sociales, sexo, edad y profesión.</p>
            <p>
              <b>c. CONSECUENCIAS DE PROPORCIONAR LOS DATOS O NEGATIVA DE HACERLO</b>
            </p>
            <p>Sólo se le enviará publicidad por los medios proporcionados.</p>
            <p>
              <b>d. PLAZO DE CONSERVACIÓN</b>
            </p>
            <p>Sus datos personales serán tratados mientras sean necesarios para cumplir con las finalidades anteriormente descritas, o hasta que el titular manifieste su intención de cesar el tratamiento a través de los canales puestos a su disposición para el ejercicio de sus derechos ARCO.</p>
          </div>

          <div class="textBlock">
            <h4>8. TRATAMIENTO DE DATOS PERSONALES DE EGRESADOS</h4>
            <p>
              <b>a. FINALIDAD DE TRATAMIENTO DE DATOS PERSONALES DE EGRESADOS</b>
            </p>
            <p>La UNIVERSIDAD CATÓLICA SAN PABLO recopilará los datos personales de los alumnos egresados con la finalidad de:</p>
            <p>(i) Hacer un seguimiento del desempeño y trayectoria del egresado UCSP.</p>
            <p>(ii) Solicitar su apoyo en actividades académicas de LA UNIVERSIDAD.</p>
            <p>(iii) Usar, brindar y/o transferir esta información a los proveedores de servicios tecnológicos que contraten con LA UNIVERSIDAD, así como a autoridades y terceros autorizados por ley.</p>
            <p>(iv) Cumplir con fines estadísticos e históricos para LA UNIVERSIDAD.</p>
            <p>(v) Registrar sus datos personales en el Banco de Datos “Egresados” de titularidad de LA UNIVERSIDAD.</p>
            <p>(vi) Evaluar cualquier solicitud que efectúe y/o pudiere efectuar.</p>
            <p>(vii) Fines informativos, ya sean propios de LA UNIVERSIDAD y/o de las asociaciones que forman parte del mismo grupo y/o de sus socios comerciales, públicos o privados, para lo cual podrán utilizar, entre otros medios, los centros de llamadas (call centers), sistemas de llamado telefónico, envío de mensajes de texto a celular o de correos electrónicos masivos y/o personalizados, envío de revistas y/o catálogos y/o cualquier otro medio de comunicación similar existente o por existir.</p>
            <p>(viii) Efectuar encuestas sobre los servicios de LA UNIVERSIDAD /o de las personas jurídicas que forman parte del mismo grupo.</p>
            <p>
              <b>b. DATOS PERSONALES DE CARÁCTER OBLIGATORIO</b>
            </p>
            <p>Para llevar a cabo las finalidades descritas en la presente política de privacidad, es obligatorio nos proporcione los siguientes datos personales: Nombres y apellidos, número de DNI, domicilio, teléfono fijo y móvil, correo electrónico, fecha de nacimiento, sexo, profesión, edad, datos académicos.</p>
            <p>
              <b>c. CONSECUENCIAS DE PROPORCIONAR LOS DATOS O NEGATIVA DE HACERLO</b>
            </p>
            <p>De no proporcionar los datos obligatorios (*) no podrá realizarse el seguimiento al graduado.</p>
            <p>
              <b>d. PLAZO DE CONSERVACIÓN</b>
            </p>
            <p>Sus datos personales serán tratados mientras sean necesarios para cumplir con las finalidades anteriormente descritas, o hasta que comunique a LA UNIVERSIDAD su deseo de cese de tratamiento a través de los mecanismos puestos a su disposición para el ejercicio de sus derechos ARCO.</p>
          </div>

          <div class="textBlock">
            <h4>9. TRATAMIENTO DE DATOS PERSONALES DE ALUMNOS DEL CENTRO DE LAS ARTES, AULA DEL SABER Y CENTRO DE LIDERAZGO</h4>
            <p>
              <b>a. FINALIDAD DE TRATAMIENTO DE DATOS PERSONALES ALUMNOS DEL CENTRO DE LAS ARTES, AULA DEL SABER Y CENTRO DE LIDERAZGO</b>
            </p>
            <p>La UNIVERSIDAD CATÓLICA SAN PABLO recopilará los datos personales de los alumnos del Centro de las Artes, Aula del Saber y Centro de Liderazgo con la finalidad de:</p>
            <p>(i) Ejecutar, gestionar y administrar la relación contractual que se genera por inscripción en los cursos del Centro de Liderazgo, el Centro de las Artes y el Aula del Saber.</p>
            <p>(ii) Registrar sus datos personales en el Banco de Datos “Alumnos del Centro de las Artes, Aula del Saber y Centro de Liderazgo” de titularidad de LA UNIVERSIDAD.</p>
            <p>(iii) Usar, brindar y/o transferir esta información a los proveedores de servicios tecnológicos que contraten con LA UNIVERSIDAD, así como a autoridades y terceros autorizados por ley.</p>
            <p>(iv) Cumplir con fines estadísticos e históricos para LA UNIVERSIDAD.</p>
            <p>(v) Evaluar cualquier solicitud que efectúe y/o pudiere efectuar.</p>
            <p>(vi) Fines informativos de LA UNIVERSIDAD y/o de las asociaciones que forman parte del mismo grupo y/o de sus socios comerciales, nacionales e internacionales, públicos o privados, para lo cual podrán utilizar, entre otros medios, los centros de llamadas (call centers), sistemas de llamado telefónico, envío de mensajes de texto a celular o de correos electrónicos masivos y/o personalizados, envío de revistas y/o catálogos y/o cualquier otro medio de comunicación similar existente o por existir.</p>
            <p>(vii) Usar, brindar y/o transferir esta información para dar cumplimiento a las obligaciones y/o requerimientos que se generen en virtud de las normas vigentes en el ordenamiento jurídico peruano, incluyendo, las del sistema de prevención de lavado de activos y financiamiento del terrorismo y normas prudenciales.</p>
            <p>(viii) Efectuar encuestas sobre los servicios de LA UNIVERSIDAD /o de las personas jurídicas que forman parte del mismo grupo.</p>
            <p>
              <b>b. DATOS PERSONALES DE CARÁCTER OBLIGATORIO</b>
            </p>
            <p>Para llevar a cabo las finalidades descritas en la presente política de privacidad, es obligatorio nos proporcione los siguientes datos personales: Nombres y apellidos, número de DNI, domicilio, teléfono fijo y móvil, correo electrónico, fecha de nacimiento, sexo, edad, datos académicos.</p>
            <p>
              <b>c. CONSECUENCIAS DE PROPORCIONAR LOS DATOS O NEGATIVA DE HACERLO</b>
            </p>
            <p>De no proporcionar los datos obligatorios (*) no podrá formar parte de los cursos que ofrece el Centro de las Artes, Aula del Saber y Centro de Liderazgo.</p>
            <p>
              <b>d. PLAZO DE CONSERVACIÓN</b>
            </p>
            <p>Sus datos personales serán tratados de forma temporal durante el desarrollo del curso, de modo que su uso y tratamiento se realizará mientras sean necesarios para cumplir con las finalidades anteriormente descritas y por el plazo máximo que las normas pertinentes exijan.</p>
          </div>

          <div class="textBlock">
            <h4>10. TRATAMIENTO DE DATOS PERSONALES DE ALUMNOS DEL CENTRO DE IDIOMAS</h4>
            <p>
              <b>a. FINALIDAD DE TRATAMIENTO DE DATOS PERSONALES DE ALUMNOS DEL CENTRO DE IDIOMAS</b>
            </p>
            <p>La UNIVERSIDAD CATÓLICA SAN PABLO recopilará los datos personales de los alumnos del Centro de Idiomas con la finalidad de:</p>
            <p>(i) Ejecutar, gestionar y administrar la relación contractual que se genera por la matrícula en el Centro de Idiomas.</p>
            <p>(ii) Registrar sus datos personales en el Banco de Datos “Alumnos del Centro de Idiomas” de titularidad de LA UNIVERSIDAD.</p>
            <p>(iii) Usar, brindar y/o transferir esta información a los proveedores de servicios tecnológicos que contraten con LA UNIVERSIDAD, así como a autoridades y terceros autorizados por ley.</p>
            <p>(iv) Cumplir con fines estadísticos e históricos para LA UNIVERSIDAD.</p>
            <p>(v) Evaluar cualquier solicitud que efectúe y/o pudiere efectuar.</p>
            <p>(vi) Fines informativos propios de LA UNIVERSIDAD y/o de las asociaciones que forman parte del mismo grupo económico y/o de sus socios comerciales, públicos o privados, para lo cual podrán utilizar, entre otros medios, los centros de llamadas (call centers), sistemas de llamado telefónico, envío de mensajes de texto a celular o de correos electrónicos masivos y/o personalizados, envío de revistas y/o catálogos y/o cualquier otro medio de comunicación similar existente o por existir.</p>
            <p>(vii) Usar, brindar y/o transferir esta información para dar cumplimiento a las obligaciones y/o requerimientos que se generen en virtud de las normas vigentes en el ordenamiento jurídico peruano, incluyendo, las del sistema de prevención de lavado de activos y financiamiento del terrorismo y normas prudenciales.</p>
            <p>(viii) Efectuar encuestas sobre los servicios de LA UNIVERSIDAD /o de las personas jurídicas que forman parte del mismo grupo.</p>
            <p>
              <b>b. DATOS PERSONALES DE CARÁCTER OBLIGATORIO</b>
            </p>
            <p>Para llevar a cabo las finalidades descritas en la presente política de privacidad, es obligatorio nos proporcione los siguientes datos personales: Nombres y apellidos, número de DNI, domicilio, teléfono fijo y móvil, correo electrónico, fecha de nacimiento, sexo, edad, datos académicos.</p>
            <p>
              <b>c. CONSECUENCIAS DE PROPORCIONAR LOS DATOS O NEGATIVA DE HACERLO</b>
            </p>
            <p>De no proporcionar los datos obligatorios (*) no podrá formar parte de los cursos que ofrece el Centro de Idiomas de la Universidad.</p>
            <p>
              <b>d. PLAZO DE CONSERVACIÓN</b>
            </p>
            <p>Sus datos personales serán tratados de forma temporal durante el desarrollo del Proceso de admisión al Centro de Idiomas. De obtener la calidad de alumno, su uso y tratamiento se realizarán mientras sean necesarios para cumplir con las finalidades anteriormente descritas y por el plazo máximo que las normas pertinentes exijan.</p>
          </div>

          <div class="textBlock">
            <h4>11. TRATAMIENTO DE DATOS PERSONALES DE ALUMNOS DE EXTENSIÓN</h4>
            <p>
              <b>a. FINALIDAD DE TRATAMIENTO DE DATOS PERSONALES DE ALUMNOS DE EXTENSIÓN</b>
            </p>
            <p>La UNIVERSIDAD CATÓLICA SAN PABLO recopilará los datos personales de los Alumnos de Extensión con la finalidad de:</p>
            <p>(i) Ejecutar, gestionar y administrar la relación contractual que se genera por la matrícula en el curso de extensión.</p>
            <p>(ii) Registrar sus datos personales en el Banco de Datos “Alumnos de Extensión” de titularidad de LA UNIVERSIDAD.</p>
            <p>(iii) Usar, brindar y/o transferir esta información a los proveedores de servicios tecnológicos que contraten con LA UNIVERSIDAD, así como a autoridades y terceros autorizados por ley.</p>
            <p>(iv) Cumplir con fines estadísticos e históricos para LA UNIVERSIDAD.</p>
            <p>(v) Evaluar cualquier solicitud que efectúe y/o pudiere efectuar.</p>
            <p>(vi) Fines informativos de LA UNIVERSIDAD y/o de las asociaciones que forman parte del mismo grupo y/o de sus socios comerciales, nacionales e internacionales, públicos o privados, para lo cual podrán utilizar, entre otros medios, los centros de llamadas (call centers), sistemas de llamado telefónico, envío de mensajes de texto a celular o de correos electrónicos masivos y/o personalizados, envío de revistas y/o catálogos y/o cualquier otro medio de comunicación similar existente o por existir.</p>
            <p>(vii) Usar, brindar y/o transferir esta información para dar cumplimiento a las obligaciones y/o requerimientos que se generen en virtud de las normas vigentes en el ordenamiento jurídico peruano, incluyendo, las del sistema de prevención de lavado de activos y financiamiento del terrorismo y normas prudenciales.</p>
            <p>(viii) Efectuar encuestas sobre los servicios de LA UNIVERSIDAD /o de las personas jurídicas que forman parte del mismo grupo.</p>
            <p>
              <b>b. DATOS PERSONALES DE CARÁCTER OBLIGATORIO</b>
            </p>
            <p>Para llevar a cabo las finalidades descritas en la presente política de privacidad, es obligatorio nos proporcione los siguientes datos personales: Nombres y apellidos, número de DNI, domicilio, teléfono fijo y móvil, correo electrónico, fecha de nacimiento, sexo, edad, datos académicos.</p>
            <p>
              <b>c. CONSECUENCIAS DE PROPORCIONAR LOS DATOS O NEGATIVA DE HACERLO</b>
            </p>
            <p>De no proporcionar los datos obligatorios (*) no podrá formar parte de los cursos de extensión que ofrece la Universidad.</p>
            <p>
              <b>d. PLAZO DE CONSERVACIÓN</b>
            </p>
            <p>Sus datos personales serán tratados de forma temporal durante el desarrollo del curso, de modo que su uso y tratamiento se realizará mientras sean necesarios para cumplir con las finalidades anteriormente descritas y por el plazo máximo que las normas pertinentes exijan.</p>
          </div>

          <div class="textBlock">
            <h4>12. TRATAMIENTO DE DATOS PERSONALES PARA LA ABSOLUCIÓN DE CONSULTAS Y CHARLAS INFORMATIVAS</h4>
            <p>
              <b>a. FINALIDAD DE TRATAMIENTO DE DATOS PERSONALES PARA LA ABSOLUCIÓN DE CONSULTAS Y CHARLAS INFORMATIVAS</b>
            </p>
            <p>La UNIVERSIDAD CATÓLICA SAN PABLO recopilará los datos personales a través de formularios de consulta con la finalidad de:</p>
            <p>(i) Gestionar y absolver las consultas realizadas a LA UNIVERSIDAD.</p>
            <p>(ii) Brindar información sobre los servicios que presta LA UNIVERSIDAD a través de charlas presenciales.</p>
            <p>(iii) Evaluar cualquier solicitud que efectúe.</p>
            <p>(iv) Registrar sus datos personales en el banco de datos denominado “usuarios de la página web”.</p>
            <p>
              <b>b. DATOS PERSONALES DE CARÁCTER OBLIGATORIO</b>
            </p>
            <p>Para llevar a cabo las finalidades descritas en la presente política de privacidad, es obligatorio nos proporcione los siguientes datos personales: Nombres y apellidos, Número de DNI, correo electrónico, teléfono móvil.</p>
            <p>
              <b>c. CONSECUENCIAS DE PROPORCIONAR LOS DATOS O NEGATIVA DE HACERLO</b>
            </p>
            <p>De no proporcionar los datos obligatorios (*) no podrá atenderse a su consulta.</p>
            <p>
              <b>d. PLAZO DE CONSERVACIÓN</b>
            </p>
            <p>Sus datos personales serán tratados mientras sean necesarios para cumplir con las finalidades anteriormente descritas y serán eliminados una vez absuelta la consulta.</p>
          </div>

          <div class="textBlock">
            <h4>13. TRATAMIENTO DE DATOS PERSONALES PARA LA ATENCIÓN DE RECLAMOS, QUEJAS Y SUGERENCIAS</h4>
            <p>
              <b>a. FINALIDAD DE TRATAMIENTO DE DATOS LA ATENCIÓN DE RECLAMOS, QUEJAS Y SUGERENCIAS</b>
            </p>
            <p>La UNIVERSIDAD CATÓLICA SAN PABLO recopilará los datos personales de las personas que presenten algún reclamo, queja y sugerencia con la finalidad de:</p>
            <p>(i) Dar respuesta a la queja o reclamo que pueda presentar alguna persona, así como tomar nota de las sugerencias que se hagan.</p>
            <p>(ii) Registrar sus datos personales en el banco de datos «Quejas, Reclamos y Sugerencias», el cual es de titularidad de LA UNIVERSIDAD.</p>
            <p>(iii) Dar cumplimiento a lo establecido por el Código de Protección al Consumidor, el Reglamento del Libro de Reclamaciones del Código de Protección al Consumidor y demás normativa aplicable.</p>
            <p>
              <b>b. DATOS PERSONALES DE CARÁCTER OBLIGATORIO</b>
            </p>
            <p>Para llevar a cabo las finalidades descritas en la presente política de privacidad, es obligatorio nos proporcione los siguientes datos personales: Nombres y apellidos, correo electrónico, domicilio, DNI, teléfono celular, edad.</p>
            <p>
              <b>c. CONSECUENCIAS DE PROPORCIONAR LOS DATOS O NEGATIVA DE HACERLO</b>
            </p>
            <p>En caso que el consumidor no consigne como mínimo su nombre, DNI, domicilio o correo electrónico, fecha del reclamo o queja y el detalle de los mismos, estos se consideraran como no presentados.</p>
            <p>
              <b>d. PLAZO DE CONSERVACIÓN</b>
            </p>
            <p>Sus datos personales serán tratados mientras sean necesarios para cumplir con las finalidades anteriormente descritas y por el plazo legal máximo permitido.</p>
          </div>

          <div class="textBlock">
            <h4>14. CONFIDENCIALIDAD DE LOS DATOS PERSONALES</h4>
            <p>Los datos personales facilitados serán tratados con total confidencialidad de modo que la UNIVERSIDAD CATÓLICA SAN PABLO se compromete a guardar secreto profesional indefinidamente respecto de los mismos y garantiza el deber de guardarlos adoptando todas las medidas de seguridad necesarias.</p>
          </div>

          <div class="textBlock">
            <h4>15. TRANSFERENCIA, ENCARGO Y FLUJO TRANSFRONTERIZO</h4>
            <p>
              LA UNIVERSIDAD CATÓLICA SAN PABLO podrá transferir sus datos personales dentro del territorio nacional, por cualquier medio, a sus subsidiarias, personas jurídicas vinculadas, a sus proveedores de servicios, sean personas naturales o jurídicas únicamente para el cumplimiento de las finales desarrolladas en relación a cada uno de los tratamientos desarrollados. La relación de tales personas podrá ser consultada en la página
              <a href="https://www.ucsp.edu.pe">https://www.ucsp.edu.pe</a>
            </p>
          </div>

          <div class="textBlock">
            <h4>16. EJERCICIO DE DERECHOS</h4>
            <p>Los titulares de datos personales que hayan facilitado sus datos personales a la UNIVERSIDAD CATÓLICA SAN PABLO pueden dirigirse a ésta, con el fin de poder ejercer sus derechos de información, de acceso, de actualización, inclusión, rectificación y supresión, de impedir el suministro de sus datos personales, de oposición al tratamiento o de tratamiento objetivo de los datos, en los términos recogidos en la legislación peruana vigente.</p>
            <p>
              Para poder ejercer estos derechos, pueden dirigirse por cualquier medio que permita acreditar el envío y la recepción de la solicitud a la dirección: Urb. Campiña Paisajista, Quinta Vivanco s/n, Arequipa, o a la siguiente página web
              <a
                href="http://ucsp.edu.pe/solicitud-de-derechos-arco/"
              >http://ucsp.edu.pe/solicitud-de-derechos-arco/.</a>
            </p>
            <p>Aunado a ello, los titulares de datos personales podrán presentar una reclamación ante la Autoridad Nacional de Protección de Datos Personales, dirigiéndose a la Mesa de Partes del Ministerio de Justicia y Derechos Humanos: Calle Scipión Llona N° 350, Miraflores, Lima, Perú, de considerar que no han sido atendidos en el ejercicio de sus derechos.</p>
          </div>

          <div class="textBlock">
            <h4>17. MENORES DE EDAD</h4>
            <p>La UNIVERSIDAD CATÓLICA SAN PABLO en el marco del ofrecimiento de sus productos y de la prestación de sus servicios, podría conocer datos personales de menores de edad, los cuales serán tratados de acuerdo a lo dispuesto en los artículos 27 y 28 del Reglamento de la Ley de Protección de Datos Personales.</p>
          </div>

          <div class="textBlock">
            <h4>18. CAMBIOS EN LA POLÍTICA DE PRIVACIDAD</h4>
            <p>La UNIVERSIDAD CATÓLICA SAN PABLO se reserva el derecho de efectuar en cualquier momento modificaciones, adecuaciones o actualizaciones a la presente política de privacidad, para la atención de nuevas disposiciones legales, reglamentarias, jurisprudenciales o políticas internas adoptadas.</p>
            <p>La Política de Privacidad de la UNIVERSIDAD CATÓLICA SAN PABLO ha sido actualizada el día seis (06) del mes de marzo del año 2020.</p>
          </div>
        </div>
        <div class="footerModal">
          <button @click="cerrar()" class="btn btn-primary aceptarBtn">ACEPTAR</button>
        </div>
      </div>
    </div>
  </b-modal>
</template>
<script>
export default {
  name: "terminos",
  props: {
    content: Object
  },
  mounted() {
    this.$refs["modal-modulo"].show();
  },
  methods: {
    cerrar() {
      this.$store.dispatch("setActiveModal", false);
      this.$refs["modal-modulo"].hide();
    }
  }
};
</script>