.block-content {
  margin-left: 1rem;
  margin-right: 1rem;
  background: #FFFFFF;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
}

.block-titulo {
  @include base-font(bold, 64px, 25px, $body-color-blue);
  padding-bottom: 2rem;
}

.block-img {
  width: 100%;
}

.block-text-content {
  @include base-font(bold, 14px, 25px, $body-color-blue);
  text-align: center;
  padding-top: 2rem;
}