.list-simulacros-content {
  padding-top: 2rem;
  margin: 0 !important;
}

.result-group-graf-content {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  display: flex;
}

.list-simulacros-text-content {
  @include base-font(bold, 16px, 20px, $body-color-blue);
  text-align: center;
}

.school-container-layout-result-group {
  //margin-left: 1rem !important;
  //margin-top: 8.0rem !important;
  height: auto;
  width: 100%;
}

.titulo-consulta {
  width: auto!important;
  height: 28px!important;
  @include base-font(bold, 18px, 30px, #FFFFFF);

}

.result-group-graf-text-title {
  @include base-font(bold, 18px, 30px, $body-color-blue);
  background: $body-color-white !important;
  text-align: center !important;
  letter-spacing: 0.4px !important;

  span:first-child {
    @include base-font(bold, 18px, 30px, $body-color-white);
    background: $body-color-blue !important;
    padding: 0.5rem 0.5rem 0.2rem 0.5rem;

    strong {
      @include base-font-important(bold, 18px, 30px, $body-color-blue);
    }
  }

  span:last-child {
    @include base-font(bold, 18px, 30px, $body-color-white);
    background: $color-vino !important;
    padding: 0.5rem 0.5rem 0.2rem 0.5rem;

    strong {
      @include base-font-important(bold, 18px, 30px, $body-color-blue);
    }
  }
}

.result-group-graf-text-title3 {
  @include base-font(bold, 18px, 30px, $body-color-blue);
  text-align: center !important;
  letter-spacing: 0.4px !important;

  span:nth-child(2n) {
    @include base-font(bold, 18px, 30px, $body-color-white);
    background: $color-red !important;
    padding: 1rem;
  }

  span:nth-child(2n+1) {
    @include base-font(bold, 18px, 30px, $body-color-white);
    background: $body-color-blue !important;
    padding: 1rem;
  }
}

.result-group-graf-background {
  display: flex;
  border-radius: 20px;
  height: 57px;
  margin: 1rem 4rem 1rem 4rem !important;
}

.result-group-graf-background-title {
  @extend .result-group-graf-background;
  background: $color-blue2;
}

.result-group-graf-background-title2 {
  @extend .result-group-graf-background;
  background: $color-purple;
}

.result-group-graf-text-title2 {
  @include base-font(bold, 18px, 30px, $body-color-white);
  display: flex;
  letter-spacing: 0.4px;
  align-items: center;
}

.result-group-graf-table {
  overflow-x: hidden !important;
  border-top: 0px !important;
  border: 3px solid $body-color-blue !important;
  ;
  max-width: 39rem;
}

.result-group-graf-thead {
  background-color: $body-color-blue !important;

  & th {
    height: 6rem !important;
    vertical-align: middle !important;
    @include base-font(bold, 13px, 16px, $color-white2);
  }
}

.result-group-graf-tbody {
  & tr {
    background-color: white !important;

    & td {
      height: 2rem !important;
      vertical-align: middle !important;
      border-bottom: 1px solid $body-color-blue !important;
    }
  }
}

@media screen and (max-width: 1400px) {
  .school-container-layout-result-group {
    margin-left: 1rem !important;
  }
}