.results-content {
  padding-top: 4.5rem;
  padding-right: 3rem !important;
  margin-right: 0px !important;;
}

.results-text-title {
  @include base-font(bold, 20px, 19px, $body-color-blue);
  text-align: right;
  padding:0 10px;
}

.results-title-line {
  border-bottom: solid 4px $body-color-blue;
  line-height: 0.1em;
  margin: 10px 0 23px;
  right: 3rem;
}

.results-content-search {
  margin: 0 !important;
  width: 100%;
}
.results-content-simulacro-principal {
  margin: 0 !important;
}

#form-search-simulacro {
  position: relative !important;
  margin-left: 3rem !important;
  margin-right: 3rem !important;
  & img {
    position: absolute;
    bottom: 0rem;
    left: 1.5rem !important;
    width: 27px;
    height: 27px;
    transform: translateY(-50%);
  }
  & .form-control {
    @include base-font-important(bold, 14px, 18px, $body-color-gray);
    -webkit-text-fill-color: $body-color-gray;
    background: $body-color-white !important;
    border: 1px solid $body-color-gray2;
    box-sizing: border-box;
    border-radius: 6px;
    height: 3rem !important;
    padding-left: 4rem !important;
  }
}
.results-title-simulacro {
  @include base-font(500, 20px, 19px, $body-color-blue);
}
.results-title-simulacro-nombre {
  @include base-font(500, 16px, 19px, $body-color-blue);
}
.results-title-simulacro-colegio {
  @include base-font(600, 22px, 19px, $body-color-blue);
}
.results-title-key {
  @include base-font(500, 13px, 13px, $body-color-gray3);
}

.button-primary-result {
  @extend .button-primary-global;
  width: 14em;
  margin-bottom: 0.5rem;
}
.button-text-result {
  @include base-font(600, 16px, 18px, $body-color-white);
}



.results-content-simulacro {
  width: 100%;
  margin: 0px !important;
}

.results-content-simulacro-border {
  border: 3px solid $body-color-blue;
  box-sizing: border-box;
  margin: 0px !important;
  width: 100%;
  padding-top: 0.8rem;
  margin-left: 3rem !important;
  padding-bottom: 0.4rem;
  margin-right: 3rem !important;
}
.results-content-simulacro-center {
  padding-top: 1.8rem;
}

