.results-student-content-search {
  padding-top: 2rem;
  padding-right: 5rem !important;
  margin-left: 2rem;
}

.results-student-content-table {
  padding-top: 3rem;
  width: 100%;
}

.results-student-content {
  padding-left: 0px !important;
  padding-left: 3rem !important;
  padding-right: 3rem;
}
.results-student-content-report {
  padding-left: 0px !important;
  padding-left: 1rem !important;
  padding-right: 1rem;
}

.button-primary-result-student {
  background:#583C89;
  max-width: 9em!important;
  width: 12em;
  height: 2.9em;
  border: none !important;
  border-radius: 6px !important;
}
.button-primary-result-student-report {
  background: #583C89;
  width: auto;
  padding-bottom: 0 10px 15px 10px!important;
  height: 1.6em;
  border: none !important;
  border-radius: 6px !important;
}

.button-text-result-student {
  @include base-font(600, 13px, 18px, $body-color-white);
  letter-spacing: 0.15em;
}

.results-dowload {
  @include base-font(bold, 14px, 22px, $body-color-blue);
  text-align: center;
  cursor: pointer;
  border-bottom: solid;
  padding-bottom: 0.3rem;
}
.results-pdf-img {
  padding-right: 1rem;
}

.results-content-dowload {
  text-align: center;
}