.support-content {
  padding-top: 2rem;
}

.support-text-content {
  @include base-font(bold, 16px, 20px, $body-color-blue);
  text-align: center;
}

.support-pdf-img {
  padding-right: 0px !important;
  text-align: right;
}
.support-form {
  padding-left: 0 !important;
  text-align: left;
  padding-right: 3rem !important;
}

#form-support {
  & .form-control {
    @include base-font-important(normal, 20px, 15px, $body-color-gray);
    -webkit-text-fill-color: $body-color-gray;
    background: $body-color-white !important;
    border: 2px solid $body-color-blue !important;
    box-sizing: border-box;
    box-sizing: border-box !important;
    border-radius: 20px !important;
    padding: 2rem;
  }
}

.button-primary-support {
  @extend .button-primary-global;
  border: none !important;
  background: $color-green2 !important;
  width: 14em;
  margin-bottom: 0.5rem;
}
.button-text-support {
  @include base-font(500, 17px, 22px, $body-color-white);
  font-style: italic;
}

#enviar-support:disabled {
  background-color: grey !important;
}