.welcome-content {
  padding-top: 2rem;
}

.welcome-text-content {
  @include base-font(500, 20px, 30px, $body-color-blue);
  text-align: center;
  span {
    @include base-font(bold, 20px, 30px, $body-color-blue);
  }
}

#welcome {
  //background: ;
}


