<template>
  <b-container class="container-layout" fluid>
    <Kpi :data="data" />
    <b-row class="mt-5" align-h="center">
      <Pending :GetColegiosKey="GetColegiosKey" :pendientes="pendientes" />

      <Ranking :premedios="premedios" />
    </b-row>
  </b-container>
</template>

<script>
import Kpi from "@/components/Global/Kpi";
import Ranking from "@/components/Global/Ranking";
import Pending from "@/components/Global/Pending";
import moment from "moment";

export default {
  name: "Dashboard",
  components: { Kpi, Ranking, Pending },
  data: () => ({
    data: {},
    cad: true,
    premedios: [],
    pendientes: []
  }),
  created() {
    this.$store.dispatch("setModulo", "PERIODO / PRIMER TRIMESTE");
    this.$store.dispatch("setNav", false);

    this.getDashboarddata();
    this.getPromedioSimulacro();
    this.GetColegiosKey();
  },
  methods: {
    GetColegiosKey() {
      let user = JSON.parse(localStorage.getItem("userdata"));
      let id = user.id;
      this.$store
        .dispatch("GetColegiosKey", id)
        .then(response => {
          this.pendientes = response.data.keys;
          let now = moment().format();
          this.pendientes.forEach(function(element) {
            var activo = 0;

            element.forEach(elemen => {
              let hasta = elemen.hasta;

              if (moment(hasta).isBefore(now) && elemen.activo === true) {
                elemen.estado = "Caducado";
              }
              if (element.activo === false) {
                elemen.estado = "Inhabilitado";
              }
              if (moment(hasta).isAfter(now) && elemen.activo === true) {
                elemen.estado = "Vigente";
                activo = activo + 1;
              }
            });
            element["activo"] = activo;
          });
        })
        .catch(error => {
          console.log(error.message);
        });
    },
    getDashboarddata() {
      let user = JSON.parse(localStorage.getItem("userdata"));
      let id = user.id;
      this.$store
        .dispatch("getDashboarddata", id)
        .then(response => {
          this.data = response.data.data;
        })
        .catch(error => {
          console.log(error.message);
        });
    },
    getPromedioSimulacro() {
      this.$store
        .dispatch("getPromedioSimulacro")
        .then(response => {
          this.premedios = response.data.data;
        })
        .catch(error => {
          console.log(error.message);
        });
    }
  },
  filters: {
    fixed(value) {
      return parseFloat(value).toFixed(0);
    }
  }
};
</script>
<style scoped>
</style>