<template>
  <b-container class="container-layout" fluid>
    <b-row align-h="center" class="form-title">
      <b-col lg="2">
        <p class="title-key">key de acceso</p>
      </b-col>
      <b-col lg="9">
        <p class="line"></p>
      </b-col>
    </b-row>
    <b-row align-h="center" class>
      <b-col lg="6" class="ml-n4">
        <select class="key-register" placeholder="Colegio" v-model="form.colegio">
          <option class="select-register" value>Colegio</option>
          <option v-for="(items, key) in colegios" :value="items.id" :key="key">{{ items.nombre }}</option>
        </select>
      </b-col>
      <b-col lg="1" class="ml-n3">
        <select
          :state="validateState('grado')"
          v-model="$v.form.grado.$model"
          class="key-register"
          placeholder="Grado"
        >
          <option class="select-register" value>Grado</option>
          <option v-for="(items, key) in grados" :value="items.id" :key="key">{{ items.nombre }}</option>
        </select>
      </b-col>
      <b-col lg="1" class="ml-n3">
        <select
          :state="validateState('seccion')"
          v-model="$v.form.seccion.$model"
          class="key-register"
          placeholder="Seccion"
        >
          <option class="select-register" value>Seccion</option>
          <option v-for="(items, key) in secciones" :value="items.id" :key="key">{{ items.nombre }}</option>
        </select>
      </b-col>
      <b-col lg="3" class="ml-n3">
        <input
          seccion
          :state="validateState('aforo')"
          v-model="$v.form.aforo.$model"
          required
          placeholder="Aforo"
          class="key-register"
          type="text"
        />
      </b-col>
    </b-row>
    <b-row align-h="center" class="mt-2">
      <b-col lg="3" class="ml-n4">
        <input
          :state="validateState('desde')"
          v-model="$v.form.desde.$model"
          required
          @change="verificarFecha2()"
          placeholder="Vigencia desde"
          class="key-register"
          type="date"
          :class="!isAdmin ? 'ml-2' : 'ml-0'"
        />
      </b-col>

      <b-col lg="3" class="ml-n3">
        <input
          :state="validateState('hasta')"
          v-model="$v.form.hasta.$model"
          @change="verificarFecha()"
          required
          placeholder="Vigencia Hasta"
          class="key-register"
          type="date"
          :class="!isAdmin ? 'ml-1' : 'ml-0'"
        />
      </b-col>

      <b-col v-if="!isAdmin" lg="5" class="ml-n3">
        <b-button
          :disabled="isDisabled"
          @click="createKey()"
          class="register-key-button"
          type="submit"
          :class="!isAdmin ? 'ml-2' : 'ml-0'"
        >Crear key de acceso</b-button>
      </b-col>

      <b-col v-if="isAdmin" lg="5" class="ml-n1" style="max-width:530px">
        <select class="key-register" placeholder="Asesor" v-model="form.id">
          <option class="select-register" value>Asesor</option>
          <option v-for="(items, key) in asesores" :value="items.id" :key="key">{{ items.name }}</option>
        </select>
      </b-col>
    </b-row>
    <b-row align-h="center" class>
      <b-col lg="3" class="ml-n4"></b-col>

      <b-col lg="3" class="mt-3 ml-4">
        <div v-if="this.$v.form.$anyError">
          <p class="error-register">Faltan Campos por completar</p>
        </div>
        <div v-if="!fechas">
          <p class="error-register">La fecha fin debe ser posterior a la fecha de inicio</p>
        </div>
        <div v-if="!fechas2">
          <p class="error-register">La fechas no puede ser anterior al dia de hoy</p>
        </div>
      </b-col>
      <b-col v-if="isAdmin" lg="5" class="mt-2 ml-4">
        <button
          style="max-width:530px!important"
          @click="createKey()"
          class="register-key-button"
          type="submit"
        >Crear key de acceso</button>
      </b-col>
    </b-row>
    <b-modal content-class="modal-finish-ter" hide-footer ref="modal-key" centered size="md">
      <b-row align-h="center">
        <div class="key-div">
          <p class="key-title">{{key}}</p>
        </div>
      </b-row>
      <b-row align-h="center" class="mt-3">
        <b-col cols="4">
          <p class="key-sub">Key de acceso creado exitosamente</p>
        </b-col>
      </b-row>

      <b-row align-h="center" class="mb-2">
        <button @click="finish()" class="key-aceptar">ACEPTAR</button>
      </b-row>
    </b-modal>
  </b-container>
</template>
<script>
import moment from "moment";
import { validationMixin } from "vuelidate";
import { required, numeric } from "vuelidate/lib/validators";
export default {
  name: "FormKey",
  mixins: [validationMixin],

  props: {
    premedios: {
      type: Array
    },
    GetKeysAsesor: {
      type: Function
    }
  },
  data: () => ({
    key: "",
    fechas: true,
    fechas2: true,
    form: {
      colegio: null,
      grado: null,
      seccion: null,
      aforo: null,
      desde: null,
      id: null,
      hasta: null
    },
    colegios: [],
    secciones: [],
    grados: [],
    asesores: []
  }),
  validations: {
    form: {
      colegio: {
        required
      },
      grado: {
        required
      },
      seccion: {
        required
      },
      aforo: {
        numeric,
        required
      },
      desde: {
        required
      },
      hasta: {
        required
      }
    }
  },
  created() {
    this.$store.dispatch("getCollege").then(response => {
      this.colegios = response.data.colegio;
    });
    this.$store.dispatch("getGrado").then(response => {
      this.grados = response.data.grado;
    });
    this.$store.dispatch("getSeccion").then(response => {
      this.secciones = response.data.seccion;
    });
    this.$store.dispatch("getAsesores").then(response => {
      this.asesores = response.data.asesores;
    });
  },
  mounted() {},
  methods: {
    verificarFecha() {
      let now = moment().format();
      this.fechas = moment(this.form.hasta).isBefore(this.form.desde)
        ? false
        : true;
      this.fechas2 = moment(this.form.desde).isBefore(now) ? false : true;
    },
    verificarFecha2() {
      let now = moment().format();

      this.fechas2 = moment(this.form.desde).isBefore(now) ? false : true;
    },
    finish() {
      this.$refs["modal-key"].hide();
    },
    validateState(name) {
      const { $dirty, $error } = this.$v.form[name];
      return $dirty ? !$error : null;
    },
    createKey() {
      this.$v.form.$touch();
      if (this.$v.form.$anyError) {
        return;
      }
      if (!this.fechas || !this.fechas2) {
        return;
      }
      let user = JSON.parse(localStorage.getItem("userdata"));

      let id = user.id;
      this.form.id = this.form.id ? this.form.id : id;

      this.$store.dispatch("postRegisterKey", this.form).then(response => {
        if (response.data) {
          this.key = response.data.Key.key;
          this.GetKeysAsesor();
          this.$refs["modal-key"].show();
          this.form = {
            colegio: null,
            grado: null,
            seccion: null,
            aforo: null,
            desde: null,
            id: null,
            hasta: null
          };
        }
      });
    }
  },
  computed: {
    isAdmin() {
      return this.$store.getters["isAdmin"];
    },
    isDisabled() {
      if (
        this.form.desde &&
        this.form.hasta &&
        this.form.colegio &&
        this.form.seccion &&
        this.form.grado &&
        this.form.aforo
      ) {
        return true;
      } else {
        return true;
      }
    }
  }
};
</script>