<template>
  <div>
    <b-row>
      <b-col lg="12" class="img-col">
        <img class="img-dashboard" src="@/assets/images/dashboard1.png" alt />
      </b-col>
    </b-row>
    <b-row class="mt-5" align-h="around">
      <b-col class="cuadro-dashboard" md="6" sm="12" lg="6" xl="3">
        <div>
          <b-row class="mt-4" align-h="center">
            <b-col lg="4">
              <img src="@/assets/images/dashboard-1.png" alt />
            </b-col>
            <b-col lg="6" class="">
              <p class="dashboard-titulo">Simulacros Realizados</p>
              <p class="mt-n1 dashboard-value">{{data.simulacros}}</p>
            </b-col>
          </b-row>
        </div>
      </b-col>
      <b-col class="cuadro-dashboard" md="6" sm="12" lg="6" xl="3">
        <div>
          <b-row class="mt-4" align-h="center">
            <b-col cols="4">
              <img src="@/assets/images/dashboard-2.png" alt />
            </b-col>
            <b-col cols="6" class="">
              <p class="dashboard-titulo">Colegios Registrados</p>
              <p class="mt-n1 dashboard-value">{{data.colegios}}</p>
            </b-col>
          </b-row>
        </div>
      </b-col>
      <b-col class="cuadro-dashboard" md="6" sm="12" lg="6" xl="3">
        <div>
          <b-row class="mt-4" align-h="center">
            <b-col cols="4">
              <img src="@/assets/images/dashboard-3.png" alt />
            </b-col>
            <b-col cols="7" class>
              <p class="dashboard-titulo2 ml-n3">Key de accesos generados</p>
              <p class="ml-2 mt-n1 dashboard-value">{{data.key}}</p>
            </b-col>
          </b-row>
        </div>
      </b-col>
      <b-col class="cuadro-dashboard" md="6" sm="12" lg="6" xl="3">
        <div>
          <b-row class="mt-4" align-h="center">
            <b-col cols="4">
              <img src="@/assets/images/dashboard-4.png" alt />
            </b-col>
            <b-col cols="6" class="">
              <p class="dashboard-titulo">Satisfaccion</p>
              <p class="mt-n1 dashboard-value">{{data.satifaccion | round}}%</p>
            </b-col>
          </b-row>
        </div>
      </b-col>
    </b-row>
  </div>
</template>
<script>
export default {
  name: "Ranking",
  props: {
    data: {
      type: Object
    }
  },
  data: () => ({}),
  created() {},
  mounted() {},
  methods: {},
  filters: {
    round(value) {
      return parseInt(value, 10);
    }
  }
};
</script>