<template>
    <b-modal no-close-on-backdrop  content-class="modal-dowload" hide-footer ref="modal-modulo" hide-header-close centered>
        <b-container fluid style="padding-top: 2rem;">
            <b-row align-h="center">
                <img v-if="content.icon === 1" src="@/assets/images/descarga.svg" alt="">
                <img v-else class="error-img" src="@/assets/images/error.svg" alt="">
            </b-row>
            <b-row align-h="center">
                <b-col lg="12" class="mt-4 text-center">
                    <p class="modal-titulo">{{ content.title }}</p>
                </b-col>
            </b-row>
            <b-row align-h="center">
                <b-col lg="12" class="text-center">
                    <p class="modal-subtitulo " v-html="content.msj"></p>
                </b-col>
            </b-row>
            <b-row align-h="center" class="mb-2 ml-1">
                <b-col lg="12" class=" text-center">
                    <button @click="cerrar()" class="modal-button">
                        <span>{{ content.button }}</span>
                    </button>
                </b-col>
            </b-row>
        </b-container>
    </b-modal>
</template>
<script>

    export default {
        name: 'ModalDowloadSendReturn',
        props: {
            content: Object
        },
        mounted() {
            this.$refs['modal-modulo'].show()
        },
        methods: {
            cerrar() {
                this.$store.dispatch('setActiveModal', false)
                this.$refs['modal-modulo'].hide()
                this.$router.push(this.content.back)
            }
        }
    }
</script>
<style scoped>

</style>
