<template>
  <b-col class="col-grid" md="12" sm="12" lg="6">
    <b-row align-h="center" class="div-titulo ml-1">
      <p class="titulo-pendientes">Simulacros Pendientes</p>
    </b-row>
    <b-row
    
      v-for="(items, key) in pendientes"
      align-h="center"
      :key="key"
      class="pendientes mt-4 ml-1"
      v-if="items.activo>0" 
    >
      <b-col lg="12">
        <b-row>
          <p class="titulo-colegio ml-3 mt-3">{{items[0].colegio}}</p>
        </b-row>
        <b-row
          class="ml-1 row-fecha"
          v-for="(items2, key2) in items"
          v-show="items2.estado==='Vigente'"
          :key="key2"
        >
          <b-col lg="6" xl="4">
            <p class="subtitulos-pendientes">
              Desde:
              <span class="valor-subtitulos">{{items2.desde | formatDate}}</span>
            </p>
          </b-col>
          <b-col lg="6" xl="4">
            <p class="subtitulos-pendientes">
              Hasta:
              <span class="valor-subtitulos">{{items2.hasta | formatDate}}</span>
            </p>
          </b-col>
          <b-col lg="6" xl="3">
            <p class="subtitulos-pendientes">
              Grupo:
              <span class="valor-subtitulos">{{items2.grado}} {{items2.seccion}}</span>
            </p>
          </b-col>
          <b-col lg="6" xl="1">
            <p class="subtitulos-pendientes mb-1">
              <img @click="editar(items2)" src="@/assets/images/edit.png" alt />
            </p>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <b-modal hide-footer ref="modal-key" centered size="md">
      <b-row align-h="center" class="mt-3">
        <b-col cols="4">
          <p class="key-sub">Modificar</p>
        </b-col>
      </b-row>

      <b-row class>
        <b-col lg="4" class>
          <label class="mb-n4 label-edit" for="input-live">Grupo:</label>
        </b-col>
        <b-col lg="4" class></b-col>
        <b-col lg="4" class>
          <label class="mb-n4 label-edit" for="input-live">Aforo:</label>
        </b-col>
      </b-row>
      <b-row align-h="center" class>
        <b-col lg="4" class>
          <select class="key-register" placeholder="Grado" v-model="form.grado">
            <option class="select-register" value>Grado</option>
            <option v-for="(items, key) in grados" :value="items.id" :key="key">{{ items.nombre }}</option>
          </select>
        </b-col>
        <b-col lg="4" class>
          <select class="key-register" placeholder="Seccion" v-model="form.seccion">
            <option class="select-register" value>Seccion</option>
            <option
              v-for="(items, key) in secciones"
              :value="items.id"
              :key="key"
            >{{ items.nombre }}</option>
          </select>
        </b-col>
        <b-col lg="4" class>
          <input required placeholder="Aforo" class="key-register" type="text" v-model="form.aforo" />
        </b-col>
      </b-row>
      <b-row align-h="center" class>
        <b-col lg="6" class>
          <input
            required
            placeholder="Vigencia desde"
            class="key-register"
            type="date"
            v-model="form.desde"
          />
        </b-col>
        <b-col lg="6" class>
          <input
            required
            placeholder="Vigencia Hasta"
            class="key-register"
            type="date"
            v-model="form.hasta"
          />
        </b-col>
      </b-row>
      <b-row align-h="center" class="mt-5">
        <button @click="accept()" class="key-aceptar">ACEPTAR</button>
      </b-row>
    </b-modal>
    <b-modal hide-footer ref="modal-key-update" centered size="md">
      <b-row align-h="center" class="mt-2">
        <img src="@/assets/images/checkdatos.png" alt />
      </b-row>

      <b-row align-h="center" class="mt-4">
        <b-col cols="10">
          <p class="key-sub">Key Actualizado exitosamente</p>
        </b-col>
      </b-row>
      <b-row align-h="center" class="mt-3">
        <button @click="finish()" class="key-aceptar">ACEPTAR</button>
      </b-row>
    </b-modal>
  </b-col>
</template>
<script>
import moment from "moment";

export default {
  name: "Pendientes",
  props: {
    pendientes: {
      type: Array
    },
    GetColegiosKey: {
      type: Function
    }
  },
  data: () => ({
    grados: [],
    secciones: [],
    form: {
      colegio: null,
      grado: null,
      seccion: null,
      aforo: null,
      desde: null,
      id: null,
      hasta: null
    }
  }),
  created() {
    this.$store.dispatch("getGrado").then(response => {
      this.grados = response.data.grado;
    });
    this.$store.dispatch("getSeccion").then(response => {
      this.secciones = response.data.seccion;
    });
  },
  mounted() {},
  methods: {
    editar(items) {
      this.form.seccion = items.id_seccion;
      this.form.grado = items.id_grado;
      this.form.aforo = items.aforo;
      this.form.colegio = items.colegio;
      this.form.desde = moment(items.desde).format("YYYY-MM-DD");
      this.form.hasta = moment(items.hasta).format("YYYY-MM-DD");
      this.form.id = items.id_key;
      this.$refs["modal-key"].show();
    },
    finish() {
      this.$refs["modal-key-update"].hide();
    },
    accept() {
      this.$store.dispatch("postUpdateKey", this.form).then(response => {
        if (response.data) {
          this.GetColegiosKey();
          this.$refs["modal-key"].hide();
          this.$refs["modal-key-update"].show();
        }
      });
    }
  },
  filters: {
    formatDate(value) {
      return moment(value).format("DD/MM/YYYY");
    }
  }
};
</script>