<template>
  <b-col class="col-grid" md="12" sm="12" lg="6">
    <div class="cuadro-dashboard-ranking">
      <b-row align-h="center">
        <p class="titulo-ranking mt-4">Ranking del promedio del simulacro</p>
      </b-row>
      <b-row align-h="center">
        <p class="titulo-ranking mt-2">Del 2 de enero al 23 de enero</p>
      </b-row>
      <b-row align-h="center">
        <b-col  lg="10">
          <p class="titulo-promedio">puntaje promedio</p>
        </b-col>
      </b-row>
      <b-row class="row-ranking" v-for="(item, index) in premedios" :key="index" align-h="center">
           <b-col class="col1-ranking pt-3" cols="1">
          <p class="promedio-colegio">{{index+1}}</p>
        </b-col>
          <b-col class="col1-ranking" cols="1">
        <img src="@/assets/images/colegio.svg" class="mt-2 imagen-colegio">
        </b-col>
        <b-col class="col1-ranking pt-3" cols="5">
          <p class="promedio-colegio">{{item.nombre}}</p>
        </b-col>
        <b-col class="col2-ranking pt-3" cols="3">
          <p class="promedio-value">{{item.average | round}}</p>
        </b-col>
      </b-row>
    </div>
  </b-col>
</template>
<script>
export default {
  name: "Ranking",
  props: {
    premedios: {
      type: Array
    }
  },
  data: () => ({}),
  created() {},
  mounted() {},
  methods: {},
  filters:{
      round(value){
          return parseInt(value)
      }
  }
};
</script>