<template>
  <b-container fluid>
    <b-row align-h="center">
      <b-col lg="10" class="mt-4">
        <p class="tituto-data">{{colegio | upper}}</p>
      </b-col>
    </b-row>
    <b-row align-h="center" class="mt-3" id="result-group-graf">
      <b-col cols="12" id="result-group-graf-content" style>
        <p
          class="result-group-graf-text-title"
        >Nivel de dificultad de los modulos del examen Simulacro</p>
      </b-col>
    </b-row>
    <b-row
      v-for="(item, key) in chartdataDificultModule"
      :key="key"
      align-h="center"
      class="pt-5 pb-5"
    >
      <b-col style="text-align:center" class="text-center" lg="6">
        <p class="titulo-consulta" :style="{ 'background-color': item.color}">{{item.titulo}}</p>
      </b-col>
      <br />
      <b-col lg="8">
        <ChartBar :chartdata="item" />
      </b-col>
    </b-row>
    <b-row class="mt-4" align-h="center">
      <b-col lg="12">
        <div
          class="text-center result-group-graf-text-title"
        >Promedio de la calificacion de la experiencia en el examen simulacro</div>
      </b-col>
    </b-row>
    <b-row class="mt-4" align-h="center">
      <b-col lg="12" class="text-center mt-3">
        <div class="mx-auto cuadro-dashboard-consulta">
          <b-row class="mt-4" align-h="center">
            <b-col lg="6">
              <img src="@/assets/images/dashboard-5.png" alt />
            </b-col>
            <b-col lg="6" class="ml-n5">
              <p class="dashboard-titulo-consulta">Satisfaccion</p>
              <p class="mt-n1 dashboard-value-consulta">{{satisfaccion | round}}%</p>
            </b-col>
          </b-row>
        </div>
      </b-col>
    </b-row>
    <b-row class="mt-4" align-h="center">
      <b-col lg="8">
        <ChartBar :chartdata="chartdataSatisfaccion" />
      </b-col>
    </b-row>

    <b-row>
      <b-col cols="12" class="mt-2" style="text-align: center">
        <span @click="imprimir()">
          <img :src="srcImagen('pdf.svg')" class="results-pdf-img" alt />
          <a class="results-dowload">DESCARGAR RESULTADOS</a>
        </span>
      </b-col>
    </b-row>
    <ModalDowload v-if="activeModal" />
    <ModalSend :content="contentMsj" v-if="activeModalSend" />
  </b-container>
</template>
<script>
import ChartBar from "@/components/Global/ChartBar";
import ModalDowload from "@/components/Global/ModalDowload";
import ModalSend from "@/components/Global/ModalSendReturn";

import { mapState } from "vuex";

export default {
  name: "ReportesConsultas",
  components: { ChartBar, ModalDowload, ModalSend },
  data: () => ({
    contentError: {
      title: "Disculpe",
      msj: "La opcion seleccionada no tiene informacion",
      button: "Aceptar",
      icon: 2,
      back: "reportes"
    },
    contentMsj: {},
    colegio: "",
    key: '',
    idSimulacro: '',
    simulacros: [],
    lengthSimulacro: 0,
    nombreN: "",
    satisfaccion: "",
    satisfaccionData: "",
    satisfaccionCantidad: "",
    chartdataDificultModule: [
      {
        labels: ["Muy Dificil", "Dificil", "Normal", "Facil", "Muy Facil"],
        stepSize: 2,
        min: -10,
        legend: true,
        xgridLines: true,
        datasets: [
          {
            minBarLength: 0,
            label: "Dificultad",
            backgroundColor: [
              "#FEC32B",
              "#671220",
              "#9CCB48",
              "#D67086",
              "#8CABEF"
            ],
            data: [],
            medida: "",
            rotation: 0,
            categoryPercentage: 0.6,
            barPercentage: 1.2
          }
        ],
        loaded: false
      }
    ],
    chartdataSatisfaccion: {
      labels: [
        "0 Estrella",
        "1 Estrella",
        "2 Estrella",
        "3 Estrella",
        "4 Estrella",
        "5 Estrella"
      ],
      stepSize: 2,
      min: -10,
      legend: true,
      xgridLines: true,
      datasets: [
        {
          minBarLength: 0,
          label: "Estrellas",
          backgroundColor: [
            "#00B5F0",
            "#FEC32B",
            "#671220",
            "#ED3237",
            "#00B5F0",
            "#1DB368"
          ],
          data: [0, 0, 0, 0, 0, 0],
          medida: "",
          rotation: 0,
          categoryPercentage: 0.6,
          barPercentage: 1.2
        }
      ],
      loaded: false
    }
  }),
  computed: {
    ...mapState(["activeModal", "activeModalSend"])
  },
  created() {
       let keyData = JSON.parse(localStorage.getItem('keyData'))
            this.key = localStorage.getItem('keys')
              this.idSimulacro = parseInt(localStorage.getItem("id_simulacro"));
    this.colegio =
      keyData.colegio +
      " " +
      keyData.grado_nombre +
      " " +
      keyData.seccion_nombre;
    //let idSimulacro = JSON.parse(localStorage.getItem('id_simulacro'))
    this.$store.dispatch("setModulo", "RESULTADOS DE LA ENCUESTA POR GRUPO");
    this.getDificultModule();
    this.getSatifaccion();
  },
  mounted() {},
  methods: {
    getSatifaccion() {
       let data = {
        key: this.key,
        id: this.idSimulacro
      };
      this.chartdataSatisfaccion.loaded = false;
      this.$store
        .dispatch("getSatifaccion", data)
        .then(response => {
          this.satisfaccion = response.data.satisfaccion;
          this.satisfaccionData = response.data.satisfaccionData;

          this.satisfaccionCantidad = response.data.satisfaccionCantidad;
                  if (this.satisfaccionCantidad > 0) {
            this.$store.dispatch("setActiveModalSend", false);
                  this.$store.dispatch('setNav', 'active')

          this.chartdataSatisfaccion.datasets[0].label =
            "Total: " + this.satisfaccionCantidad + " Estudiantes";

          for (let i = 0; i <= this.satisfaccionData.length - 1; i++) {
            this.chartdataSatisfaccion.datasets[0].data[
              this.satisfaccionData[i].estrellas
            ] = this.satisfaccionData[i].cantidad;
          }
          this.chartdataSatisfaccion.loaded = true;
        }else{
                  this.contentMsj = this.contentError;
            this.$store.dispatch("setActiveModalSend", true);
        }
        })
        .catch(error => {
          console.log(error.message);
        });
    },
    goRouter(url) {
      this.$router.push(url);
    },
    srcImagen(img) {
      let src = require("@/assets/images/" + img);
      return src;
    },

    getDificultModule() {
      let data = {
        key: this.key,
        id: this.idSimulacro
      };

      this.$store
        .dispatch("getDificultModule", data)
        .then(response => {
          let data = response.data.dificultad;

          //if (response.data.length < 0) {
            //this.$store.dispatch("setActiveModalSend", false);
            // console.log('getAvgCarrera', data[0].cdificil)
            data.forEach(function(item) {
              delete item.id_modulo;
            });
            //this.copyArray = this.chartdataDificultModule[0]
            for (let i = 0; i <= data.length - 1; i++) {
              if (i > 0) {
                this.chartdataDificultModule.push({
                  labels: [
                    "Muy Dificil",
                    "Dificil",
                    "Normal",
                    "Facil",
                    "Muy Facil"
                  ],
                  stepSize: 2,
                  min: -10,
                  legend: true,
                  xgridLines: true,
                  datasets: [
                    {
                      minBarLength: 0,
                      label: "Dificultad",
                      backgroundColor: [
                        "#FEC32B",
                        "#671220",
                        "#9CCB48",
                        "#D67086",
                        "#8CABEF"
                      ],
                      data: [],
                      medida: "",
                      rotation: 0,
                      categoryPercentage: 0.6,
                      barPercentage: 1.2
                    }
                  ],
                  loaded: false
                });
              }
              this.chartdataDificultModule[i].datasets[0].label =
                "Total:" + this.satisfaccionCantidad + "Estudiantes";
              this.chartdataDificultModule[i].color = data[i].color;
              this.chartdataDificultModule[i].titulo = data[i].titulo;
              this.chartdataDificultModule[i].datasets[0].data.push(
                parseInt(data[i].muydificil)
              );

              this.chartdataDificultModule[i].datasets[0].data.push(
                parseInt(data[i].cdificil)
              );
              this.chartdataDificultModule[i].datasets[0].data.push(
                parseInt(data[i].cnormal)
              );

              this.chartdataDificultModule[i].datasets[0].data.push(
                parseInt(data[i].cfacil)
              );
              this.chartdataDificultModule[i].datasets[0].data.push(
                parseInt(data[i].muyfacil)
              );
              this.chartdataDificultModule[i].loaded = true;
            }
          /*} else {
            alert("easdasdasd");

            this.contentMsj = this.contentError;
            this.$store.dispatch("setActiveModalSend", true);
          }*/
        })
        .catch(error => {
          console.log(error.message);
        });
    },

    imprimir() {
      /*asi no sale la grafica*/
      //                var contenido= document.getElementById('result-group-graf-content').innerHTML;
      //                var contenidoOriginal= document.body.innerHTML;
      //                document.body.innerHTML = contenido;
      //                window.print();
      //                document.body.innerHTML = contenidoOriginal;
      this.$store.dispatch("setActiveModal", true);
      window.print();
    }
  },
  filters: {
    upper(value) {
      return value.toUpperCase();
    },
    round(value) {
      return parseInt(value);
    }
  }
};
</script>