<template>
  <b-container class="container-layout" fluid>
    <b-row align-h="center" class="form-title2 mt-5">
      <b-col lg="3">
        <p class="title-key">key de acceso generados</p>
      </b-col>
      <b-col lg="8">
        <p class="line"></p>
      </b-col>
    </b-row>
    <b-row class="mt-3">
      <b-col lg="1" class="search ml-5">
        <img src="@/assets/images/Search.svg" alt />
      </b-col>
      <b-col lg="8" class="ml-n5">
        <input
          v-model="search"
          required
          placeholder="Buscar por nombre, colegio o codigo de key"
          class="input-search"
          type="text"
        />
      </b-col>
    </b-row>
    <b-row class="mt-5" align-h="center">
      <b-col cols="11">
        <b-table-simple class="table-result-keys" striped hover responsive>
          <b-thead class="thead-table-keys">
            <b-tr>
              <b-th class="text-center" colspan="4">NOMBRE</b-th>
               <b-th class="text-center" v-if="isAdmin">ASESOR</b-th>
              
              <b-th class="text-center">KEY DE ACCESO</b-th>

              <b-th class="text-center">FECHA DE CREACION</b-th>
              <b-th class="text-center">FECHA DE VIGENCIA</b-th>
              <b-th class="text-center">ENVIAR KEY</b-th>
              <b-th class="text-center">REPORTE</b-th>
              <b-th class="text-center">ESTADO</b-th>
              <b-th class="text-center">ELIMINAR</b-th>
            </b-tr>
          </b-thead>
          <b-tbody class="body-result-key">
            <tr v-for="(items,index) in filteredData" :key="index" class="puntajes-module">
              <td class="nombre-key" colspan="4">{{items.nombre}}</td>
              <td class="text-center" v-if="isAdmin">{{items.name}}</td>

              <td>{{items.key}}</td>
              <td>{{ items.desde | formatDate }}</td>
              <td>{{items.hasta | formatDate}}</td>
              <td>
                <img src="@/assets/images/email.png" alt />
              </td>
              <td>
                <p @click="irReporte(items)" class="link-reporte">Ir a reporte</p>
              </td>
              <td v-if="items.estado==='Caducado'">
                <p class="Caducado">Caducado</p>
              </td>
              <td v-if="items.estado!='Caducado'">
                <select

                  @change="onChange($event, items.id_key)"
                  :class="items.estado"
                  v-model="items.estado"
                  
                >
                  <option
                    v-for="(items2,key2) in select"
                    :key="key2"
                    :value="items2.nombre"
                  ><p class="opciones">{{items2.nombre}}</p></option>
                </select>
              </td>
              <td>
                <img
                v-if="items.estado!='Caducado'"
                  @click="eliminar(items.id_key)"
                  style="cursor:pointer"
                  :class="items.estado!='Caducado' ? '':'ml-5'"
                  src="@/assets/images/Trash.png"
                  alt
                />
              </td>
            </tr>
            <tr></tr>
          </b-tbody>
        </b-table-simple>
      </b-col>
    </b-row>
    <b-modal content-class="modal-finish" hide-footer ref="modal-delete" centered size="md">
      <b-row align-h="center" class="mt-5 examen-finish">
        <p class="mt-2" style="color:#0F376E">Eliminar Key de acceso</p>
      </b-row>
      <b-row align-h="center" class="mt-4 examen-finish2">
        <p>Estas seguro que desea eliminar este key de acceso?</p>
      </b-row>
      <b-row align-h="center" class="mb-1 mt-4 ml-1">
        <b-col lg="6">
          <button
            @click="cancel()"
            style="color:#0F376E!important"
            class="modal-button-cancel"
          >CANCELAR</button>
        </b-col>
        <b-col lg="6">
          <button
            @click="accept()"
            style="background-color:#0F376E!important"
            class="modal-button-accept"
          >ACEPTAR</button>
        </b-col>
      </b-row>
    </b-modal>
  </b-container>
</template>
<script>
import moment from "moment";
export default {
  name: "Search",
  props: {
    keys: {
      type: Array
    },
    GetKeysAsesor: {
      type: Function
    }
  },
  data: () => ({
    select: [
      {
        nombre: "Vigente",
        value: 0
      },
      {
        nombre: "Inhabilitado",
        value: 1
      }
    ],
    search: "",
    id: ""
  }),
  created() {
      this.$store.dispatch('setNav', 'false')
  },
  mounted() {},
  methods: {
      onChange(event, id) {

       let data = {
        id: id,
        status: event.target.value =='Vigente'? 1 : 0
      };
      this.$store.dispatch("updateKey", data).then(response => {
        if (response.data) {
          this.GetKeysAsesor();
        }
      });
    },
    irReporte(value) {
   
      this.$store.dispatch("setSearch", value.key);
      this.$store.dispatch('setNav', 'active')
      this.$router.push("reportes");
    },
    accept() {
      let data = {
        id: this.id
      };
      this.$store.dispatch("deleteKey", data).then(response => {
        if (response.data) {
          this.GetKeysAsesor();
          this.key = response.data;
          this.$refs["modal-delete"].hide();
        }
      });
    },

    cancel() {
      this.$refs["modal-delete"].hide();
    },
    eliminar(id) {
      this.id = id;
      this.$refs["modal-delete"].show();
    }
  },
  computed: {
      isAdmin() {
      return this.$store.getters["isAdmin"];
    },
    filteredData: function() {
      var data = this.keys;
      var filterKey = this.search && this.search.toLowerCase();
      if (filterKey) {
        data = data.filter(function(row) {
          return Object.keys(row).some(function(key) {
            return (
              String(row[key])
                .toLowerCase()
                .indexOf(filterKey) > -1
            );
          });
        });
      }
      return data;
    }
  },
  filters: {
    formatDate(value) {
      return moment(value).format("DD/MM/YYYY");
    }
  }
};
</script>