<template>
  <div>
    <b-row align-h="around" class="mt-5">
      <b-col class="simulacro-button" v-for="(items, key) in simulacros" :key="key" lg="6">
        <img
          @click="goRouter(items.id_simulacro)"
          v-if="items.id_simulacro==1"
          src="@/assets/images/university1.png"
          alt
        />
        <img
          @click="goRouter(items.id_simulacro)"
          v-if="items.id_simulacro==2"
          src="@/assets/images/university2.png"
          alt
        />
        <div  style="display: inline-grid;" v-if="items.id_simulacro>2">
          <img
          @click="goRouter(items.id_simulacro)"
          v-if="items.id_simulacro>2"
          src="@/assets/images/university-g.png"
          alt
          class="mb-4"
        />
          {{items.nombre}}
        </div>
      
      </b-col>
    </b-row>
  </div>
</template>
<script>
export default {
  name: "select-simulacros",
  props: {
    url: {
      type: String
    },
    select: {
      type: Number
    }
  },
  data: () => ({
    simulacros: ""
  }),
  created() {
    if (this.select==1) {
      this.$store.dispatch("getSimulacrosXcarrera", localStorage.getItem('id_carrera')).then(response => {
        this.simulacros = response.data.simulacro;
      });
    } else {
      this.$store.dispatch("getSimulacros").then(response => {
        this.simulacros = response.data.simulacro;
      });
    }
  },
  mounted() {},
  methods: {
    goRouter(id) {
      this.$store.dispatch("setSimulacros", id);
      this.$router.push({ name: this.url });
    }
  }
};
</script>
<style scoped>
</style>
